.markdown-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .markdown-container h1, .markdown-container h2, .markdown-container h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .markdown-container pre {
    background: #f5f5f5;
    padding: 10px;
    overflow: auto;
  }
  
  .highlighted-line {
    background-color: rgb(162, 227, 175); /* or any other highlighting color */
  }
  
  .data-highlighted-line {
    background-color: rgb(79, 158, 95); /* or any other highlighting color */
  }
  
  .data-highlighted-chars {
    background-color: rgb(195, 83, 182); /* or any other highlighting color */
  }
  
  [data-chars-id="a"] {
    background-color: #ffeb3b; /* Yellow for ID 'a' */
  }