:root {
  --color-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 7%);
  --color-links: hsl(213, 100%, 73%);
  --color-links-hover: hsl(213, 100%, 80%);
  --color-border: hsl(0, 0%, 25%);
}
