# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
*.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gatsby.js
/public/
/.cache/
