.text-light {
  font-weight: 200 !important;
}

.title {
  margin-top: 20px !important;
}

main {
  margin-top: 55px;
}

@media (min-width: 600px) {
  main {
    margin-top: 64px;
  }
}

.material-ui-logo {
  width: 100%;
  height: 40vw;
  max-height: 230px;
}

.picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin: 10px 40px 40px;
}

@media (max-width: 600px) {
  .picker {
    flex-basis: 100%;
  }
}
