@keyframes r14vlhb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.c194j3ko {
  animation: r14vlhb 2s ease-out 0s infinite;
  margin-left: 10px;
}
:dir(rtl) .c194j3ko {
  animation: r14vlhb 2s ease-out 0s infinite;
  margin-right: 10px;
}
.sgip8u5 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 3px;
}
:dir(rtl) .sgip8u5 {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 3px;
}
.sgip8u5-1 {
  font-size: 1.5rem;
}
:dir(rtl) .sgip8u5-1 {
  font-size: 1.5rem;
}
.smip3v5 .sgip8u5 {
  padding-inline-start: none;
  margin: 0px 10px 10px 30px;
}
:dir(rtl) .smip3v5 .sgip8u5 {
  padding-inline-start: none;
  margin: 0px 30px 10px 10px;
}
