@keyframes rnit1sq {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.c1h7nuob {
  color: red;
  animation: rnit1sq 2s ease-out 0s infinite;
}
.s13xim6i {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.s13xim6i-1 {
  font-size: 1.5rem;
}
.s1emg10t {
  display: block;
  opacity: 0.38;
  font-size: 3rem;
}
.s1emg10t .s13xim6i {
  display: none;
}
