/scripts/ @michaldudak @m4theushw

# Packages

/packages/mui-base/ @michaldudak @mnajdova
/packages/mui-icons-material/ @michaldudak @siriwatknp
/packages/mui-joy/ @siriwatknp @danilo-leal
/packages/mui-material/ @mnajdova @danilo-leal
/packages/mui-system/ @mnajdova @siriwatknp

# Components - Material UI

/packages/mui-material/src/Accordion/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionDetails/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionSummary/ @siriwatknp @hbjORbj
/packages/mui-material/src/Alert/ @siriwatknp @hbjORbj
/packages/mui-material/src/AlertTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/AppBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Autocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/Avatar/ @siriwatknp @michaldudak
/packages/mui-material/src/AvatarGroup/ @siriwatknp @michaldudak
/packages/mui-material/src/Backdrop/ @siriwatknp @hbjORbj
/packages/mui-material/src/Badge/ @siriwatknp @michaldudak
/packages/mui-material/src/BottomNavigation/ @mnajdova @michaldudak
/packages/mui-material/src/BottomNavigationAction/ @mnajdova @michaldudak
/packages/mui-material/src/Box/ @siriwatknp @hbjORbj
/packages/mui-material/src/Breadcrumbs/ @mnajdova @michaldudak
/packages/mui-material/src/Button/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonBase/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Card/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActionArea/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardHeader/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardMedia/ @siriwatknp @hbjORbj
/packages/mui-material/src/Checkbox/ @michaldudak @mnajdova
/packages/mui-material/src/Chip/ @siriwatknp @michaldudak
/packages/mui-material/src/CircularProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-material/src/Collapse/ @mnajdova @michaldudak
/packages/mui-material/src/Container/ @siriwatknp @hbjORbj
/packages/mui-material/src/CssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Dialog/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContentText/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/Divider/ @siriwatknp @michaldudak
/packages/mui-material/src/Drawer/ @mnajdova @michaldudak
/packages/mui-material/src/Fab/ @michaldudak @mnajdova
/packages/mui-material/src/Fade/ @mnajdova @michaldudak
/packages/mui-material/src/FilledInput/ @michaldudak @mnajdova
/packages/mui-material/src/FormControl/ @michaldudak @mnajdova
/packages/mui-material/src/FormControlLabel/ @michaldudak @mnajdova
/packages/mui-material/src/FormGroup/ @michaldudak @mnajdova
/packages/mui-material/src/FormHelperText/ @michaldudak @mnajdova
/packages/mui-material/src/FormLabel/ @michaldudak @mnajdova
/packages/mui-material/src/GlobalStyles/ @mnajdova @michaldudak
/packages/mui-material/src/Grid/ @siriwatknp @hbjORbj
/packages/mui-material/src/Grow/ @mnajdova @michaldudak
/packages/mui-material/src/Hidden/ @siriwatknp @hbjORbj
/packages/mui-material/src/Icon/ @siriwatknp @michaldudak
/packages/mui-material/src/IconButton/ @michaldudak @mnajdova
/packages/mui-material/src/ImageList/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItem/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItemBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Input/ @michaldudak @mnajdova
/packages/mui-material/src/InputAdornment/ @michaldudak @mnajdova
/packages/mui-material/src/InputBase/ @michaldudak @mnajdova
/packages/mui-material/src/InputLabel/ @michaldudak @mnajdova
/packages/mui-material/src/LinearProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/Link/ @mnajdova @michaldudak
/packages/mui-material/src/List/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItem/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItemAvatar/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItemButton/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItemIcon/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItemSecondaryAction/ @siriwatknp @michaldudak
/packages/mui-material/src/ListItemText/ @siriwatknp @michaldudak
/packages/mui-material/src/ListSubheader/ @siriwatknp @michaldudak
/packages/mui-material/src/Menu/ @mnajdova @michaldudak
/packages/mui-material/src/MenuItem/ @mnajdova @michaldudak
/packages/mui-material/src/MenuList/ @mnajdova @michaldudak
/packages/mui-material/src/MobileStepper/ @mnajdova @michaldudak
/packages/mui-material/src/Modal/ @mnajdova @michaldudak
/packages/mui-material/src/NativeSelect/ @michaldudak @mnajdova
/packages/mui-material/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-material/src/OutlinedInput/ @michaldudak @mnajdova
/packages/mui-material/src/Pagination/ @mnajdova @michaldudak
/packages/mui-material/src/PaginationItem/ @mnajdova @michaldudak
/packages/mui-material/src/Paper/ @siriwatknp @hbjORbj
/packages/mui-material/src/Popover/ @mnajdova @michaldudak
/packages/mui-material/src/Popper/ @mnajdova @michaldudak
/packages/mui-material/src/Portal/ @mnajdova @michaldudak
/packages/mui-material/src/Radio/ @michaldudak @mnajdova
/packages/mui-material/src/RadioGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Rating/ @michaldudak @mnajdova
/packages/mui-material/src/ScopedCssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Select/ @michaldudak @mnajdova
/packages/mui-material/src/Skeleton/ @siriwatknp @hbjORbj
/packages/mui-material/src/Slide/ @mnajdova @michaldudak
/packages/mui-material/src/Slider/ @michaldudak @mnajdova
/packages/mui-material/src/Snackbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/SnackbarContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/SpeedDial/ @mnajdova @michaldudak
/packages/mui-material/src/SpeedDialAction/ @mnajdova @michaldudak
/packages/mui-material/src/SpeedDialIcon/ @mnajdova @michaldudak
/packages/mui-material/src/Stack/ @siriwatknp @hbjORbj
/packages/mui-material/src/Step/ @mnajdova @michaldudak
/packages/mui-material/src/StepButton/ @mnajdova @michaldudak
/packages/mui-material/src/StepConnector/ @mnajdova @michaldudak
/packages/mui-material/src/StepContent/ @mnajdova @michaldudak
/packages/mui-material/src/StepIcon/ @mnajdova @michaldudak
/packages/mui-material/src/StepLabel/ @mnajdova @michaldudak
/packages/mui-material/src/Stepper/ @mnajdova @michaldudak
/packages/mui-material/src/SvgIcon/ @siriwatknp @michaldudak
/packages/mui-material/src/SwipeableDrawer/ @mnajdova @michaldudak
/packages/mui-material/src/Switch/ @michaldudak @mnajdova
/packages/mui-material/src/Tab/ @mnajdova @michaldudak
/packages/mui-material/src/Table/ @siriwatknp @michaldudak
/packages/mui-material/src/TableBody/ @siriwatknp @michaldudak
/packages/mui-material/src/TableCell/ @siriwatknp @michaldudak
/packages/mui-material/src/TableContainer/ @siriwatknp @michaldudak
/packages/mui-material/src/TableFooter/ @siriwatknp @michaldudak
/packages/mui-material/src/TableHead/ @siriwatknp @michaldudak
/packages/mui-material/src/TablePagination/ @siriwatknp @michaldudak
/packages/mui-material/src/TableRow/ @siriwatknp @michaldudak
/packages/mui-material/src/TableSortLabel/ @siriwatknp @michaldudak
/packages/mui-material/src/Tabs/ @mnajdova @michaldudak
/packages/mui-material/src/TabScrollButton/ @mnajdova @michaldudak
/packages/mui-material/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-material/src/TextField/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButton/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Toolbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Tooltip/ @siriwatknp @michaldudak
/packages/mui-material/src/transitions/ @mnajdova @michaldudak
/packages/mui-material/src/Typography/ @siriwatknp @michaldudak
/packages/mui-material/src/Unstable_Grid2/ @siriwatknp @hbjORbj
/packages/mui-material/src/Unstable_TrapFocus/ @mnajdova @michaldudak
/packages/mui-material/src/useAutocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/useMediaQuery/ @mnajdova @michaldudak
/packages/mui-material/src/usePagination/ @mnajdova @michaldudak
/packages/mui-material/src/useScrollTrigger/ @siriwatknp @hbjORbj
/packages/mui-material/src/useTouchRipple/ @michaldudak @mnajdova
/packages/mui-material/src/Zoom/ @mnajdova @michaldudak

# Components - MUI Base

/packages/mui-base/src/AutocompleteUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/BadgeUnstyled/ @siriwatknp @michaldudak
/packages/mui-base/src/ButtonUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-base/src/FormControlUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/InputUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/ListboxUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/MenuItemUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/MenuUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/ModalUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/MultiSelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-base/src/OptionGroupUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/OptionUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/PopperUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/Portal/ @mnajdova @michaldudak
/packages/mui-base/src/SelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SliderUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SwitchUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/TablePaginationUnstyled/ @siriwatknp @michaldudak
/packages/mui-base/src/TabPanelUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/TabsListUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/TabsUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/TabUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-base/src/TrapFocus/ @mnajdova @michaldudak

# Components - Joy UI

/packages/mui-joy/src/AspectRatio/ @siriwatknp @michaldudak
/packages/mui-joy/src/Avatar/ @siriwatknp @michaldudak
/packages/mui-joy/src/AvatarGroup/ @siriwatknp @michaldudak
/packages/mui-joy/src/Badge/ @siriwatknp @michaldudak
/packages/mui-joy/src/Box/ @siriwatknp @hbjORbj
/packages/mui-joy/src/Breadcrumbs/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/Button/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Card/ @siriwatknp @hbjORbj
/packages/mui-joy/src/CardContent/ @siriwatknp @hbjORbj
/packages/mui-joy/src/CardCover/ @siriwatknp @hbjORbj
/packages/mui-joy/src/CardOverflow/ @siriwatknp @hbjORbj
/packages/mui-joy/src/Checkbox/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Chip/ @siriwatknp @michaldudak
/packages/mui-joy/src/ChipDelete/ @siriwatknp @michaldudak
/packages/mui-joy/src/Container/ @siriwatknp @hbjORbj
/packages/mui-joy/src/FormHelperText/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/FormLabel/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Grid/ @siriwatknp @hbjORbj
/packages/mui-joy/src/IconButton/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Input/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Link/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/List/ @siriwatknp @michaldudak
/packages/mui-joy/src/ListDivider/ @siriwatknp @michaldudak
/packages/mui-joy/src/ListItem/ @siriwatknp @michaldudak
/packages/mui-joy/src/ListItemButton/ @siriwatknp @michaldudak
/packages/mui-joy/src/ListItemContent/ @siriwatknp @michaldudak
/packages/mui-joy/src/ListItemDecorator/ @siriwatknp @michaldudak
/packages/mui-joy/src/Menu/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/MenuItem/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/MenuList/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/Option/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Radio/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/RadioGroup/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Select/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Sheet/ @siriwatknp @hbjORbj
/packages/mui-joy/src/Slider/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Stack/ @siriwatknp @hbjORbj
/packages/mui-joy/src/SvgIcon/ @siriwatknp @michaldudak
/packages/mui-joy/src/Switch/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Tab/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/TabList/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/TabPanel/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/Tabs/ @mnajdova @michaldudak @siriwatknp
/packages/mui-joy/src/Textarea/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/TextField/ @michaldudak @mnajdova @siriwatknp
/packages/mui-joy/src/Typography/ @siriwatknp @michaldudak
