{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-dev-warning",
    "add-module-exports"
  ],
  "env": {
    "docs-production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-runtime",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
