{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "./scripts/babel-transform-object-assign-require",
    "transform-dev-warning"
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    }
  }
}
