[modern]
last 1 chrome version
last 1 edge version
last 1 firefox version
last 1 safari version
node 14

# Default/Fallback
# `npx browserslist --mobile-to-desktop "> 0.5%, last 2 versions, Firefox ESR, not dead, not IE 11"` when the last major is released.
# Manually downgrading to ios_saf 12.4 for iPhone 6 and webpack 4 support.
# On update, sync references where "#stable-snapshot" is mentioned in the codebase.
[stable]
and_chr 91
and_ff 89
and_qq 10.4
and_uc 12.12
android 91
baidu 7.12
chrome 90
edge 91
firefox 78
# 12.4 but 12.2-12.5 are treated equally in caniuse-lite.
# Though caniuse-lite does not supporting finding an exact version in a range which is why `12.4` would result in "Unknown version 12.4 of ios_saf"
ios_saf 12.2
kaios 2.5
op_mini all
op_mob 76
opera 76
safari 14
samsung 13.0

# Same as `stable` but with IE 11
[legacy]
ie 11
and_chr 91
and_ff 89
and_qq 10.4
and_uc 12.12
android 91
baidu 7.12
chrome 90
edge 91
firefox 78
ios_saf 12.2
kaios 2.5
op_mini all
op_mob 76
opera 76
safari 14
samsung 13.0

# snapshot of `npx browserslist "maintained node versions"`
# On update check all #stable-snapshot markers
[node]
node 12.0

# same as `node`
[coverage]
node 12.0

# same as `node`
[development]
node 12.0

# same as `node`
[test]
node 12.0

# same as `node`
[benchmark]
node 12.0
