# Default/Fallback
# `npx browserslist --mobile-to-desktop "baseline widely available""` when the last major is released.
#
# After you update the version, you might need to run `npx update-browserslist-db@latest` to update caniuse-lite to gather latest browser versions.
# Otherwise, running `pnpm build` might fail due to unknown browser versions.
#
# On update, sync references where "#stable-snapshot" is mentioned in the codebase.
[stable]
and_chr 146
and_chr 145
and_chr 144
and_chr 143
and_chr 142
and_chr 141
and_chr 140
and_chr 139
and_chr 138
and_chr 137
and_chr 136
and_chr 135
and_chr 134
and_chr 133
and_chr 132
and_chr 131
and_chr 130
and_chr 129
and_chr 128
and_chr 127
and_chr 126
and_chr 125
and_chr 124
and_chr 123
and_chr 122
and_chr 121
and_chr 120
and_chr 119
and_chr 118
and_chr 117
and_ff 148
and_ff 147
and_ff 146
and_ff 145
and_ff 144
and_ff 143
and_ff 142
and_ff 141
and_ff 140
and_ff 139
and_ff 138
and_ff 137
and_ff 136
and_ff 135
and_ff 134
and_ff 133
and_ff 132
and_ff 131
and_ff 130
and_ff 129
and_ff 128
and_ff 127
and_ff 126
and_ff 125
and_ff 124
and_ff 123
and_ff 122
and_ff 121
chrome 146
chrome 145
chrome 144
chrome 143
chrome 142
chrome 141
chrome 140
chrome 139
chrome 138
chrome 137
chrome 136
chrome 135
chrome 134
chrome 133
chrome 132
chrome 131
chrome 130
chrome 129
chrome 128
chrome 127
chrome 126
chrome 125
chrome 124
chrome 123
chrome 122
chrome 121
chrome 120
chrome 119
chrome 118
chrome 117
edge 146
edge 145
edge 144
edge 143
edge 142
edge 141
edge 140
edge 139
edge 138
edge 137
edge 136
edge 135
edge 134
edge 133
edge 132
edge 131
edge 130
edge 129
edge 128
edge 127
edge 126
edge 125
edge 124
edge 123
edge 122
edge 121
firefox 148
firefox 147
firefox 146
firefox 145
firefox 144
firefox 143
firefox 142
firefox 141
firefox 140
firefox 139
firefox 138
firefox 137
firefox 136
firefox 135
firefox 134
firefox 133
firefox 132
firefox 131
firefox 130
firefox 129
firefox 128
firefox 127
firefox 126
firefox 125
firefox 124
firefox 123
firefox 122
firefox 121
ios_saf 26.3
ios_saf 26.2
ios_saf 26.1
ios_saf 26.0
ios_saf 18.5-18.7
ios_saf 18.4
ios_saf 18.3
ios_saf 18.2
ios_saf 18.1
ios_saf 18.0
ios_saf 17.6-17.7
ios_saf 17.5
ios_saf 17.4
ios_saf 17.3
ios_saf 17.2
ios_saf 17.1
ios_saf 17.0
safari 26.3
safari 26.2
safari 26.1
safari 26.0
safari 18.5-18.7
safari 18.4
safari 18.3
safari 18.2
safari 18.1
safari 18.0
safari 17.6
safari 17.5
safari 17.4
safari 17.3
safari 17.2
safari 17.1
safari 17.0

# snapshot of `npx browserslist "maintained node versions"`
# On update check all #stable-snapshot markers
[node]
node 14.0

# same as `node`
[coverage]
node 14.0

# same as `node`
[development]
node 14.0

# same as `node`
[test]
node 14.0
