node_modules
/build
/tmp
coverage
/.next
/next.config.js
/docs/src/modules/utils/find.js
/docs/export
/flow
/flow-typed
/packages/*/lib
/packages/material-ui-icons/test/fixtures
/packages/material-ui-icons/src
/packages/material-ui-icons/tpl
/packages/material-ui-codemod/modules/v0.15.0
/.git
