node_modules
/build
/dist
/flow
/docs/site/build
/packages/**/lib
/packages/icon-builder
/packages/material-ui-codemod/modules/v0.15.0
/src/svg-icons
/test/coverage
/test/regressions/
/test/integration/
