{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"]
  ],
  "env": {
    "docs-production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        ["transform-replace-object-assign", "simple-assign"]
      ]
    }
  }
}
