*,
*::before,
*::after {
  box-sizing: border-box;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.flex {
  flex: 1;
}

main {
  padding: 10px;
}

.picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}