*,
*::before,
*::after {
  box-sizing: border-box;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.app-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 40px
}

.github-icon {
  position: absolute;
  top: 5px;
  right: 20px;
  color: white;
}

.text-light {
  font-weight: 200 !important;
}

.title {
  margin-top: 20px !important;
}

main {
  margin-top: 20px;
  padding: 10px;
}

.material-ui-logo {
  width: 100%;
  height: 40vh;
  max-height: 230px
}

.pickers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin: 10px 40px 40px;
}

@media(max-width: 600px) {
  .picker {
    flex-basis: 100%;
  }
}