@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@config '../tailwind.config.mjs';

/* See preloadFonts in appWrapper */
@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/GeneralSans-Semibold-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/IBMPlexSans-Regular-subset.woff2') format('woff2');
}

/*
  Loads General Sans: Regular (400), Medium (500), SemiBold (600), Bold (700)
  Typeface documentation: https://www.fontshare.com/fonts/general-sans
  use https://cssminifier.com/ to minify
*/
@font-face {
  font-family: 'General Sans';
  src:
    url(/static/fonts/GeneralSans-Regular.woff2) format('woff2'),
    url(/static/fonts/GeneralSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src:
    url(/static/fonts/GeneralSans-Medium.woff2) format('woff2'),
    url(/static/fonts/GeneralSans-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src:
    url(/static/fonts/GeneralSans-SemiBold.woff2) format('woff2'),
    url(/static/fonts/GeneralSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src:
    url(/static/fonts/GeneralSans-Bold.woff2) format('woff2'),
    url(/static/fonts/GeneralSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
  Loads IBM Plex Sans: 400,500,700 & IBM Plex Mono: 400, 600
  use https://cssminifier.com/ to minify
*/
@font-face {
  font-family: 'IBM Plex Sans';
  src:
    url(/static/fonts/IBMPlexSans-Regular.woff2) format('woff2'),
    url(/static/fonts/IBMPlexSans-Regular.woff) format('woff'),
    url(/static/fonts/IBMPlexSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src:
    url(/static/fonts/IBMPlexSans-Medium.woff2) format('woff2'),
    url(/static/fonts/IBMPlexSans-Medium.woff) format('woff'),
    url(/static/fonts/IBMPlexSans-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src:
    url(/static/fonts/IBMPlexSans-SemiBold.woff2) format('woff2'),
    url(/static/fonts/IBMPlexSans-SemiBold.woff) format('woff'),
    url(/static/fonts/IBMPlexSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src:
    url(/static/fonts/IBMPlexSans-Bold.woff2) format('woff2'),
    url(/static/fonts/IBMPlexSans-Bold.woff) format('woff'),
    url(/static/fonts/IBMPlexSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* First SSR paint */
.only-light-mode {
  display: 'block';
}
.only-dark-mode {
  display: 'none';
}

/* Post SSR Hydration */
.mode-dark .only-light-mode {
  display: 'none';
}
.mode-dark .only-dark-mode {
  display: 'block';
}

/* TODO migrate to .only-dark-mode to .only-dark-mode-v2 */
[data-mui-color-scheme='light'] .only-dark-mode-v2 {
  display: 'none';
}
[data-mui-color-scheme='dark'] .only-light-mode-v2 {
  display: 'none';
}

.plan-pro,
.plan-premium {
  display: 'inline-block';
  height: '0.9em';
  width: '1em';
  vertical-align: 'middle';
  margin-left: '0.3em';
  margin-bottom: '0.08em';
  background-size: 'contain';
  background-repeat: 'no-repeat';
  flex-shrink: 0;
}
.plan-pro {
  background-image: 'url(/static/x/pro.svg)';
}
.plan-premium {
  background-image: 'url(/static/x/premium.svg)';
}
