/* Slider/Slider.module.css */
@layer mui.components {
  .MuiSlider-root {
    box-sizing: content-box;
    cursor: pointer;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 12px;
    display: inline-block;
    position: relative;
  }

  @media print {
    .MuiSlider-root {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }

  .MuiSlider-root.MuiSlider-trackFalse .MuiSlider-track {
    display: none;
  }

  .MuiSlider-root.MuiSlider-dragging .MuiSlider-thumb, .MuiSlider-root.MuiSlider-dragging .MuiSlider-track {
    transition: none;
  }

  .MuiSlider-root.MuiSlider-colorPrimary {
    color: var(--mui-palette-primary-main);
  }

  .MuiSlider-root.MuiSlider-colorSecondary {
    color: var(--mui-palette-secondary-main);
  }

  .MuiSlider-root.MuiSlider-colorWarning {
    color: var(--mui-palette-warning-main);
  }

  .MuiSlider-root.MuiSlider-colorError {
    color: var(--mui-palette-error-main);
  }

  .MuiSlider-root.MuiSlider-colorSuccess {
    color: var(--mui-palette-success-main);
  }

  .MuiSlider-root.MuiSlider-colorInfo {
    color: var(--mui-palette-info-main);
  }

  .MuiSlider-root.MuiSlider-horizontal {
    width: 100%;
    height: 4px;
    padding-block: 13px;
  }

  @media (pointer: coarse) {
    .MuiSlider-root.MuiSlider-horizontal {
      padding-block: 20px;
    }
  }

  .MuiSlider-root.MuiSlider-horizontal.MuiSlider-sizeSmall {
    height: 2px;
  }

  .MuiSlider-root.MuiSlider-horizontal.MuiSlider-marked {
    margin-block-end: 20px;
  }

  .MuiSlider-root.MuiSlider-vertical {
    width: 4px;
    height: 100%;
    padding-inline: 13px;
  }

  @media (pointer: coarse) {
    .MuiSlider-root.MuiSlider-vertical {
      padding-inline: 20px;
    }
  }

  .MuiSlider-root.MuiSlider-vertical.MuiSlider-sizeSmall {
    width: 2px;
  }

  .MuiSlider-root.MuiSlider-vertical.MuiSlider-marked {
    margin-inline-end: 44px;
  }

  .MuiSlider-root.Mui-disabled {
    pointer-events: none;
    cursor: default;
    color: var(--mui-palette-grey-400);
  }

  .MuiSlider-rail {
    border-radius: inherit;
    opacity: .38;
    background-color: currentColor;
    display: block;
    position: absolute;
  }

  @media (forced-colors: active) {
    .MuiSlider-rail {
      box-sizing: border-box;
      border: 1px solid #0000;
    }
  }

  .MuiSlider-rail.MuiSlider-horizontal {
    width: 100%;
    height: inherit;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .MuiSlider-rail.MuiSlider-vertical {
    height: 100%;
    width: inherit;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  .MuiSlider-rail.MuiSlider-trackInverted {
    opacity: 1;
  }

  .MuiSlider-track {
    border-radius: inherit;
    transition: left var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      width var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      bottom var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      height var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut);
    background-color: currentColor;
    border: 1px solid;
    display: block;
    position: absolute;
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorPrimary {
    background-color: var(--mui-palette-Slider-primaryTrack);
    border-color: var(--mui-palette-Slider-primaryTrack);
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorSecondary {
    background-color: var(--mui-palette-Slider-secondaryTrack);
    border-color: var(--mui-palette-Slider-secondaryTrack);
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorError {
    background-color: var(--mui-palette-Slider-errorTrack);
    border-color: var(--mui-palette-Slider-errorTrack);
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorInfo {
    background-color: var(--mui-palette-Slider-infoTrack);
    border-color: var(--mui-palette-Slider-infoTrack);
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorSuccess {
    background-color: var(--mui-palette-Slider-successTrack);
    border-color: var(--mui-palette-Slider-successTrack);
  }

  .MuiSlider-track.MuiSlider-trackInverted.MuiSlider-colorWarning {
    background-color: var(--mui-palette-Slider-warningTrack);
    border-color: var(--mui-palette-Slider-warningTrack);
  }

  @media (forced-colors: none) {
    .MuiSlider-track.MuiSlider-sizeSmall {
      border: none;
    }
  }

  .MuiSlider-track.MuiSlider-horizontal {
    height: inherit;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .MuiSlider-track.MuiSlider-vertical {
    width: inherit;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  .MuiSlider-track.MuiSlider-trackFalse {
    display: none;
  }

  .MuiSlider-thumb {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transition: box-shadow var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      left var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      bottom var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut);
    background-color: currentColor;
    border-radius: 50%;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
  }

  @media (forced-colors: active) {
    .MuiSlider-thumb {
      border: 1px solid buttonborder;
    }
  }

  .MuiSlider-thumb:before {
    content: "";
    border-radius: inherit;
    width: 100%;
    height: 100%;
    box-shadow: var(--mui-shadows-2);
    position: absolute;
  }

  .MuiSlider-thumb:after {
    content: "";
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorPrimary:hover, .MuiSlider-thumb.MuiSlider-thumbColorPrimary.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-primary-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorPrimary.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-primary-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorSecondary:hover, .MuiSlider-thumb.MuiSlider-thumbColorSecondary.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-secondary-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorSecondary.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-secondary-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorError:hover, .MuiSlider-thumb.MuiSlider-thumbColorError.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-error-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorError.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-error-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorInfo:hover, .MuiSlider-thumb.MuiSlider-thumbColorInfo.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-info-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorInfo.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-info-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorSuccess:hover, .MuiSlider-thumb.MuiSlider-thumbColorSuccess.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-success-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorSuccess.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-success-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorWarning:hover, .MuiSlider-thumb.MuiSlider-thumbColorWarning.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-warning-mainChannel) / .16);
  }

  .MuiSlider-thumb.MuiSlider-thumbColorWarning.Mui-active {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-warning-mainChannel) / .16);
  }

  @media (hover: none) {
    .MuiSlider-thumb.MuiSlider-thumbColorPrimary:hover, .MuiSlider-thumb.MuiSlider-thumbColorSecondary:hover, .MuiSlider-thumb.MuiSlider-thumbColorError:hover, .MuiSlider-thumb.MuiSlider-thumbColorInfo:hover, .MuiSlider-thumb.MuiSlider-thumbColorSuccess:hover, .MuiSlider-thumb.MuiSlider-thumbColorWarning:hover {
      box-shadow: none;
    }
  }

  .MuiSlider-thumb.MuiSlider-thumbSizeSmall {
    width: 12px;
    height: 12px;
  }

  .MuiSlider-thumb.MuiSlider-thumbSizeSmall:before {
    box-shadow: none;
  }

  .MuiSlider-thumb.MuiSlider-horizontal {
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
  }

  [dir="rtl"] .MuiSlider-thumb.MuiSlider-horizontal {
    transform: translate(50%, -50%);
  }

  .MuiSlider-thumb.MuiSlider-vertical {
    inset-inline-start: 50%;
    transform: translate(-50%, 50%);
  }

  .MuiSlider-thumb.Mui-disabled:hover {
    box-shadow: none;
  }

  .MuiSlider-valueLabel {
    z-index: 1;
    white-space: nowrap;
    letter-spacing: .01071em;
    transition: transform var(--mui-transitions-duration-shortest)
      var(--mui-transitions-easing-easeInOut);
    background-color: var(--mui-palette-grey-600);
    color: var(--mui-palette-common-white);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    padding: .25rem .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    display: flex;
    position: absolute;
  }

  .MuiSlider-valueLabel.MuiSlider-horizontal {
    transform-origin: block-end center;
    inset-block-start: -10px;
    transform: translateY(-100%) scale(0);
  }

  .MuiSlider-valueLabel.MuiSlider-horizontal:before {
    content: "";
    background-color: inherit;
    width: 8px;
    height: 8px;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
  }

  .MuiSlider-valueLabel.MuiSlider-horizontal.MuiSlider-valueLabelOpen {
    transform: translateY(-100%) scale(1);
  }

  .MuiSlider-valueLabel.MuiSlider-vertical {
    transform-origin: inline-end center;
    inset-block-start: 50%;
    inset-inline-end: 30px;
    transform: translateY(-50%) scale(0);
  }

  .MuiSlider-valueLabel.MuiSlider-vertical:before {
    content: "";
    background-color: inherit;
    width: 8px;
    height: 8px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: -8px;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .MuiSlider-valueLabel.MuiSlider-vertical.MuiSlider-valueLabelOpen {
    transform: translateY(-50%) scale(1);
  }

  .MuiSlider-valueLabel.MuiSlider-sizeSmall {
    padding: .25rem .5rem;
    font-size: .75rem;
  }

  .MuiSlider-valueLabel.MuiSlider-vertical.MuiSlider-sizeSmall {
    inset-inline-end: 20px;
  }

  .MuiSlider-mark {
    background-color: currentColor;
    border-radius: 1px;
    width: 2px;
    height: 2px;
    position: absolute;
  }

  .MuiSlider-mark.MuiSlider-horizontal {
    inset-block-start: 50%;
    transform: translate(-1px, -50%);
  }

  [dir="rtl"] .MuiSlider-mark.MuiSlider-horizontal {
    transform: translate(1px, -50%);
  }

  .MuiSlider-mark.MuiSlider-vertical {
    inset-inline-start: 50%;
    transform: translate(-50%, 1px);
  }

  .MuiSlider-mark.MuiSlider-markActive {
    background-color: var(--mui-palette-background-paper);
    opacity: .8;
  }

  .MuiSlider-markLabel {
    letter-spacing: .01071em;
    color: var(--mui-palette-text-secondary);
    white-space: nowrap;
    font-size: .875rem;
    line-height: 1.43;
    position: absolute;
  }

  .MuiSlider-markLabel.MuiSlider-horizontal {
    inset-block-start: 30px;
    transform: translateX(-50%);
  }

  [dir="rtl"] .MuiSlider-markLabel.MuiSlider-horizontal {
    transform: translateX(50%);
  }

  @media (pointer: coarse) {
    .MuiSlider-markLabel.MuiSlider-horizontal {
      inset-block-start: 40px;
    }
  }

  .MuiSlider-markLabel.MuiSlider-vertical {
    inset-inline-start: 36px;
    transform: translateY(50%);
  }

  @media (pointer: coarse) {
    .MuiSlider-markLabel.MuiSlider-vertical {
      inset-inline-start: 44px;
    }
  }

  .MuiSlider-markLabel.MuiSlider-markLabelActive {
    color: var(--mui-palette-text-primary);
  }
}

/* Toolbar/Toolbar.module.css */
@layer mui.components {
  .MuiToolbar-root {
    align-items: center;
    display: flex;
    position: relative;
  }

  .MuiToolbar-root.MuiToolbar-gutters {
    padding-left: calc(2 * var(--mui-spacing, 8px));
    padding-right: calc(2 * var(--mui-spacing, 8px));
  }

  .MuiToolbar-root.MuiToolbar-dense {
    min-height: 48px;
  }

  .MuiToolbar-root.MuiToolbar-regular {
    min-height: 56px;
  }

  @media (width >= 0) and (orientation: landscape) {
    .MuiToolbar-root.MuiToolbar-regular {
      min-height: 48px;
    }
  }

  @media (width >= 600px) {
    .MuiToolbar-root.MuiToolbar-gutters {
      padding-left: calc(3 * var(--mui-spacing, 8px));
      padding-right: calc(3 * var(--mui-spacing, 8px));
    }

    .MuiToolbar-root.MuiToolbar-regular {
      min-height: 64px;
    }
  }
}

