.MuiDrawer-root .MuiDrawer-paperAnchorBottom {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorLeft {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorRight {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorTop {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorDockedBottom {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorDockedLeft {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorDockedRight {
  color: red;
}

.MuiDrawer-root .MuiDrawer-paperAnchorDockedTop {
  color: red;
}
