.sex8rxh {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.sex8rxh-1 {
  font-size: 3rem;
}
.sex8rxh.suhmzz0 {
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  .sex8rxh.suhmzz0 {
    color: white;
  }
}
