.s4jxdij {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.s4jxdij-1 {
  font-size: 3rem;
}
.s4jxdij.s6g18tg {
  color: red;
}
.s4jxdij.sqa8j32 {
  color: var(--sqa8j32-0);
}
.s4jxdij.s1vuaneo {
  background-color: blue;
  color: white;
}
.s4jxdij.sihzw1t {
  color: var(--sihzw1t-0);
}
.s4jxdij.s1cb6hjd {
  margin-bottom: 8px;
  text-align: center;
}
