.component-doc {

  .component-doc-desc {
    border-bottom: solid 1px @border-color;
    padding-top: 8px;
    padding-bottom: 40px;
    margin-bottom: 24px;

    ol {
      font-size: 13px;
      padding-left: 48px;
    }
  }

  .component-info {
    border-top: solid 1px @border-color;
    padding-top: 24px;
    margin-top: 24px;

    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

}