.icon-group {
  .clearfix();

  .icon-example {
    width: 141px;
    padding: 16px 8px;
    float: left;
    text-align: center;

    .icon-name {
      display: block;
      padding-top: 8px;
      height: 48px;
    }
  }
}
