.switches-examples {
  .clearfix();

  .switches-example-container {
    text-align: left;
    margin-bottom: 16px;
  }

  .switches-example-group {
    float: left;
    width: 50%;
  }

  @media @device-medium {
    .switches-example-group {
      width: 33%;
    }
  }
}