.text-field-example {

  .clearfix();
  
  .text-field-example-group {
    width: 100%;
    float: left;
    margin-bottom: 32px;

    @media @device-large {
      width: 50%;
    }
  }

  .text-field-example-single-line {
    .mui-text-field {
      margin-top: 24px;
    }
  }
}
