/* custom font icons */
@import "font-icons/style.css";

/* hightlight.js for syntax highlighting */
//@import (less) "monokai_sublime.css";
@import (less) "github.css";

a {
  color: #ff4081; //pinkA200
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
}

// Used in our inline-styles.jsx as an example 
.muidocs-checkbox-example { 
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}
