.MuiImageListItemBar-root.MuiImageListItemBar-positionBelow > .MuiImageListItemBar-titleWrap {
  color: red;
}

.MuiImageListItemBar-root.MuiImageListItemBar-actionPositionLeft > .MuiImageListItemBar-titleWrap {
  color: red;
}

.MuiImageListItemBar-root.MuiImageListItemBar-actionPositionRight > .MuiImageListItemBar-titleWrap {
  color: red;
}

.MuiImageListItemBar-root.MuiImageListItemBar-actionPositionLeft > .MuiImageListItemBar-actionIcon {
  color: red;
}
