.home-purpose {
  background-color: @grey-200;

  .full-width-section-content {
    max-width: 700px;
  }

  p {
    .mui-font-style-title;
    .mui-font-weight-light;
    padding: 0;
    margin: 0;
  }
}