.page-with-nav {

  .page-with-nav-secondary-nav {
    border-top: solid 1px @grey-300;
    overflow: hidden;
  }

  .page-with-nav-content {
    padding: @desktop-gutter;
    max-width: (@desktop-keyline-increment * 14);
  }

  @media @device-medium {
    @subNavWidth: (@desktop-keyline-increment * 3);

    position: relative;

    .page-with-nav-secondary-nav {
      border-top: none;
      position: absolute;
      top: 64px;
      width: @subNavWidth;
    }

    .page-with-nav-content {
      margin-left: @subNavWidth;
      border-left: solid 1px @grey-300;
      min-height: 800px;
    }
  }
}