@keyframes r1419f2q {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.c1vtarpi {
  color: red;
  animation: r1419f2q 2s ease-out 0s infinite;
}
.s1sjy0ja {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.s1sjy0ja-1 {
  font-size: 3rem;
}
.s6hrafw {
  display: block;
  opacity: 0.38;
  font-size: 3rem;
}
