@keyframes r3sp8jf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.clqufod {
  color: red;
  animation: r3sp8jf 2s ease-out 0s infinite;
}
.s1fopuc2 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.s1fopuc2-1 {
  font-size: 1.5rem;
}
.s1tggtaa {
  display: block;
  opacity: 0.38;
  font-size: 3rem;
}
.s1tggtaa .s1fopuc2 {
  display: none;
}
