@keyframes r1419f2q {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.c1vtarpi {
  color: #ff5252;
  animation: r1419f2q 2s ease-out 0s infinite;
}
.c1sjy0ja {
  color: red;
}
.c1sjy0ja:has(.foo) {
  color: blue;
}
.c6hrafw {
  color: red;
}
.c6hrafw:has(.foo) {
  color: blue;
}
