.soujkwr.s1ne1757{color:red;}
.soujkwr.s1novky8{color:var(--s1novky8-0);}
.soujkwr.s1dedx85{background-color:blue;color:white;}
.soujkwr.s37rrrj{color:var(--s37rrrj-0);}
.soujkwr.swjt3r4{margin-bottom:8px;text-align:center;}
