.si9gu6v {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background-color: #ebf5ff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  letter-spacing: -0.025em;
  font-weight: 600;
}
.si9gu6v-1 {
  border: 2px solid #e9e9e9;
}
.sbfbm5t {
  font-size: 2rem;
}
.s1xscf0o {
  font-size: 1rem;
  color: #6f7f95;
}
