.MuiChip-clickableColorPrimary {
  color: red;
}

.MuiChip-clickableColorSecondary {
  color: red;
}

.MuiChip-deletableColorPrimary {
  color: red;
}

.MuiChip-deletableColorSecondary {
  color: red;
}

.MuiChip-outlinedPrimary {
  color: red;
}

.MuiChip-outlinedSecondary {
  color: red;
}

.MuiChip-filledPrimary {
  color: red;
}

.MuiChip-filledSecondary {
  color: red;
}

.MuiChip-root .MuiChip-avatarSmall {
  color: red;
}

.MuiChip-root .MuiChip-avatarMedium {
  color: red;
}

.MuiChip-root .MuiChip-avatarColorPrimary {
  color: red;
}

.MuiChip-root .MuiChip-avatarColorSecondary {
  color: red;
}

.MuiChip-root .MuiChip-iconSmall {
  color: red;
}

.MuiChip-root .MuiChip-iconMedium {
  color: red;
}

.MuiChip-root .MuiChip-iconColorPrimary {
  color: red;
}

.MuiChip-root .MuiChip-iconColorSecondary {
  color: red;
}

.MuiChip-root .MuiChip-labelSmall {
  color: red;
}

.MuiChip-root .MuiChip-labelMedium {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconSmall {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconMedium {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconColorPrimary {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconColorSecondary {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconFilledColorPrimary {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconFilledColorSecondary {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconOutlinedColorPrimary {
  color: red;
}

.MuiChip-root .MuiChip-deleteIconOutlinedColorSecondary {
  color: red;
}
