.mui-date-picker-calendar {
  .mui-px-fallback(font-size, 1.2rem);

  .mui-date-picker-calendar-week-title {
    .clearfix();
    .mui-font-weight-medium;
    color: fade(@date-picker-calendar-text-color, 50%);

    .mui-px-fallback(line-height, 1.2rem);
    padding: 0 1.1667em;
  }

  .mui-date-picker-calendar-week-title-day {
    list-style: none;
    float: left;
    width: 2.6667em;
    text-align: center;
    margin: 0 0.1667em;
  }

  .mui-date-picker-calendar-container {
    .ease-out(@property: height; @duration: 150ms);
  }

  &.mui-is-4week {
    .mui-date-picker-calendar-container {
      .mui-px-fallback(height, 22.8rem);
    }
  }

  &.mui-is-5week {
    .mui-date-picker-calendar-container {
      .mui-px-fallback(height, 26.8rem);
    }
  }

  &.mui-is-6week {
    .mui-date-picker-calendar-container {
      .mui-px-fallback(height, 30.8rem);
    }
  }
}

.mui-is-landscape {
  .mui-date-picker-calendar {
    .clearfix();
  }

  .mui-date-picker-calendar-date-display {
    width: 23.3333em;
    height: 100%;
    float: left;
  }

  .mui-date-picker-calendar-container {
    width: 23.3333em;
    float: right;
  }
}
