.mui-date-picker-calendar-toolbar {
  background-color: inherit !important;
  height: 48px !important;
  padding: 0 !important;
  position: relative;

  .mui-date-picker-calendar-toolbar-title {
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    .mui-font-weight-medium;
  }

  .mui-toolbar-group {
    .mui-icon-button {
      padding: 8px;
      width: 36px;
    }
      
    &.mui-left {
      * {
        vertical-align: top;
      }
        
      &:first-child {
        margin-left: 0 !important;
      }
    }

    &.mui-right {
        
      &:last-child {
        margin-right: 0 !important;
      }
    }   
  }
}
