.mui-date-picker-calendar-toolbar {
  height: 48px;
  position: relative;

  .mui-date-picker-calendar-toolbar-title {
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    .mui-font-weight-medium;
  }

  .mui-date-picker-calendar-toolbar-button-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .mui-date-picker-calendar-toolbar-button-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}