.mui-date-picker-dialog {
  font-size: 14px;
  color: @date-picker-calendar-text-color;

  .mui-date-picker-dialog-window {
    &.mui-dialog-window-contents {
      width: 280px;
    }
  }
}

.mui-is-landscape {
  .mui-date-picker-dialog-window {
    &.mui-dialog-window-contents {
      width: 560px;
    }
  }
}