@device-x-large: ~"only screen and (min-width: 1200px)";
@device-large:   ~"only screen and (min-width: 992px)";
@device-medium:  ~"only screen and (min-width: 768px)";
@device-small:   ~"only screen and (min-width: 375px)";