@layer mui.components {
  :global(.MuiToolbar-root) {
    position: relative;
    display: flex;
    align-items: center;
  }

  :global(.MuiToolbar-root):global(.MuiToolbar-gutters) {
    padding-left: calc(2 * var(--mui-spacing, 8px));
    padding-right: calc(2 * var(--mui-spacing, 8px));
  }

  :global(.MuiToolbar-root):global(.MuiToolbar-dense) {
    min-height: 48px;
  }

  :global(.MuiToolbar-root):global(.MuiToolbar-regular) {
    min-height: 56px;
  }

  @media (--mui-breakpoint-up-xs) and (orientation: landscape) {
    :global(.MuiToolbar-root):global(.MuiToolbar-regular) {
      min-height: 48px;
    }
  }

  @media (--mui-breakpoint-up-sm) {
    :global(.MuiToolbar-root):global(.MuiToolbar-gutters) {
      padding-left: calc(3 * var(--mui-spacing, 8px));
      padding-right: calc(3 * var(--mui-spacing, 8px));
    }

    :global(.MuiToolbar-root):global(.MuiToolbar-regular) {
      min-height: 64px;
    }
  }
}
