.mui-text-full-black          { color: @full-black; }
.mui-text-dark-black          { color: @dark-black; }
.mui-text-light-black         { color: @light-black; }
.mui-text-min-black           { color: @min-black; }
.mui-text-full-white          { color: @full-white; }
.mui-text-dark-white          { color: @dark-white; }
.mui-text-light-white         { color: @light-white; }

.mui-font-weight-light        { font-weight: 300 }
.mui-font-weight-normal       { font-weight: 400 }
.mui-font-weight-medium       { font-weight: 500 }

/* Type Styles */
.mui-font-style-display-4 {
  font-size:   112px;
  line-height: 128px;
  letter-spacing: -7px;
  padding-top: 17px;
  margin-bottom: 15px;
  .mui-font-weight-light;
  .mui-text-light-black;
}

.mui-font-style-display-3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-top: 8px;
  margin-bottom: 28px;
  .mui-font-weight-normal;
  .mui-text-light-black;
}

.mui-font-style-display-2 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  .mui-font-weight-normal;
  .mui-text-light-black;
}

.mui-font-style-display-1 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  .mui-font-weight-normal;
  .mui-text-light-black;
}

.mui-font-style-headline {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  .mui-font-weight-normal;
  .mui-text-dark-black;
}

.mui-font-style-title {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  .mui-font-weight-medium;
  .mui-text-dark-black;
}

.mui-font-style-subhead-2 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  .mui-font-weight-normal;
  .mui-text-dark-black;
}

.mui-font-style-subhead-1 {
  .mui-font-style-subhead-2;
  line-height: 24px;
  padding-top: 3px;
  margin-bottom: 13px;
  .mui-text-dark-black;
}

.mui-font-style-body-2 {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  .mui-font-weight-medium;
  .mui-text-dark-black;
}

.mui-font-style-body-1 {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  .mui-font-weight-normal;
  .mui-text-dark-black;
}

.mui-font-style-caption {
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  .mui-font-weight-normal;
  .mui-text-light-black;
}

.mui-font-style-menu {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  .mui-font-weight-medium;
  .mui-text-dark-black;
}

.mui-font-style-button {
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  .mui-font-weight-medium;
  .mui-text-dark-black;
}

/* General HTML Typography */
body {
  font-size: 13px;
  line-height: 20px;
}

h1 { .mui-font-style-display-2; }
h2 { .mui-font-style-display-1; }
h3 { .mui-font-style-headline; }
h4 { .mui-font-style-title; }
h5 { .mui-font-style-subhead-1; }
h6 { .mui-font-style-body-2; }
p  { .mui-font-style-body-1; }
hr {
  margin-top: 0;
  margin-bottom: 18px;
}
