@layer mui.components {
  :global(.MuiSlider-root) {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }

  @media print {
    :global(.MuiSlider-root) {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }

  :global(.MuiSlider-root):global(.MuiSlider-trackFalse) :global(.MuiSlider-track) {
    display: none;
  }

  :global(.MuiSlider-root):global(.MuiSlider-dragging) :global(.MuiSlider-thumb),
  :global(.MuiSlider-root):global(.MuiSlider-dragging) :global(.MuiSlider-track) {
    transition: none;
  }

  :global(.MuiSlider-root):global(.MuiSlider-colorPrimary) {
    color: var(--mui-palette-primary-main);
  }
  :global(.MuiSlider-root):global(.MuiSlider-colorSecondary) {
    color: var(--mui-palette-secondary-main);
  }
  :global(.MuiSlider-root):global(.MuiSlider-colorWarning) {
    color: var(--mui-palette-warning-main);
  }
  :global(.MuiSlider-root):global(.MuiSlider-colorError) {
    color: var(--mui-palette-error-main);
  }
  :global(.MuiSlider-root):global(.MuiSlider-colorSuccess) {
    color: var(--mui-palette-success-main);
  }
  :global(.MuiSlider-root):global(.MuiSlider-colorInfo) {
    color: var(--mui-palette-info-main);
  }

  :global(.MuiSlider-root):global(.MuiSlider-horizontal) {
    height: 4px;
    width: 100%;
    padding-block: 13px;
  }

  @media (pointer: coarse) {
    :global(.MuiSlider-root):global(.MuiSlider-horizontal) {
      padding-block: 20px;
    }
  }

  :global(.MuiSlider-root):global(.MuiSlider-horizontal):global(.MuiSlider-sizeSmall) {
    height: 2px;
  }

  :global(.MuiSlider-root):global(.MuiSlider-horizontal):global(.MuiSlider-marked) {
    margin-block-end: 20px;
  }

  :global(.MuiSlider-root):global(.MuiSlider-vertical) {
    height: 100%;
    width: 4px;
    padding-inline: 13px;
  }

  @media (pointer: coarse) {
    :global(.MuiSlider-root):global(.MuiSlider-vertical) {
      padding-inline: 20px;
    }
  }

  :global(.MuiSlider-root):global(.MuiSlider-vertical):global(.MuiSlider-sizeSmall) {
    width: 2px;
  }

  :global(.MuiSlider-root):global(.MuiSlider-vertical):global(.MuiSlider-marked) {
    margin-inline-end: 44px;
  }

  :global(.MuiSlider-root):global(.Mui-disabled) {
    pointer-events: none;
    cursor: default;
    color: var(--mui-palette-grey-400);
  }

  :global(.MuiSlider-rail) {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.38;
  }

  @media (forced-colors: active) {
    :global(.MuiSlider-rail) {
      border: 1px solid transparent;
      box-sizing: border-box;
    }
  }

  :global(.MuiSlider-rail):global(.MuiSlider-horizontal) {
    width: 100%;
    height: inherit;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  :global(.MuiSlider-rail):global(.MuiSlider-vertical) {
    height: 100%;
    width: inherit;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  :global(.MuiSlider-rail):global(.MuiSlider-trackInverted) {
    opacity: 1;
  }

  :global(.MuiSlider-track) {
    display: block;
    position: absolute;
    border-radius: inherit;
    border: 1px solid currentColor;
    background-color: currentColor;
    transition:
      left var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      width var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      bottom var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      height var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorPrimary) {
    background-color: var(--mui-palette-Slider-primaryTrack);
    border-color: var(--mui-palette-Slider-primaryTrack);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorSecondary) {
    background-color: var(--mui-palette-Slider-secondaryTrack);
    border-color: var(--mui-palette-Slider-secondaryTrack);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorError) {
    background-color: var(--mui-palette-Slider-errorTrack);
    border-color: var(--mui-palette-Slider-errorTrack);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorInfo) {
    background-color: var(--mui-palette-Slider-infoTrack);
    border-color: var(--mui-palette-Slider-infoTrack);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorSuccess) {
    background-color: var(--mui-palette-Slider-successTrack);
    border-color: var(--mui-palette-Slider-successTrack);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackInverted):global(.MuiSlider-colorWarning) {
    background-color: var(--mui-palette-Slider-warningTrack);
    border-color: var(--mui-palette-Slider-warningTrack);
  }

  @media (forced-colors: none) {
    :global(.MuiSlider-track):global(.MuiSlider-sizeSmall) {
      border: none;
    }
  }

  :global(.MuiSlider-track):global(.MuiSlider-horizontal) {
    height: inherit;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  :global(.MuiSlider-track):global(.MuiSlider-vertical) {
    width: inherit;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  :global(.MuiSlider-track):global(.MuiSlider-trackFalse) {
    display: none;
  }

  :global(.MuiSlider-thumb) {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: 0;
    background-color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      box-shadow var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      left var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut),
      bottom var(--mui-transitions-duration-shortest) var(--mui-transitions-easing-easeInOut);
  }

  @media (forced-colors: active) {
    :global(.MuiSlider-thumb) {
      border: 1px solid ButtonBorder;
    }
  }

  :global(.MuiSlider-thumb)::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    width: 100%;
    height: 100%;
    box-shadow: var(--mui-shadows-2);
  }

  :global(.MuiSlider-thumb)::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 42px;
    height: 42px;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorPrimary):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorPrimary):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-primary-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorPrimary):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-primary-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSecondary):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSecondary):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-secondary-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSecondary):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-secondary-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorError):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorError):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-error-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorError):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-error-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorInfo):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorInfo):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-info-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorInfo):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-info-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSuccess):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSuccess):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-success-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSuccess):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-success-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorWarning):hover,
  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorWarning):global(.Mui-focusVisible) {
    box-shadow: 0px 0px 0px 8px rgba(var(--mui-palette-warning-mainChannel) / 0.16);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorWarning):global(.Mui-active) {
    box-shadow: 0px 0px 0px 14px rgba(var(--mui-palette-warning-mainChannel) / 0.16);
  }

  @media (hover: none) {
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorPrimary):hover,
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSecondary):hover,
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorError):hover,
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorInfo):hover,
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorSuccess):hover,
    :global(.MuiSlider-thumb):global(.MuiSlider-thumbColorWarning):hover {
      box-shadow: none;
    }
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbSizeSmall) {
    width: 12px;
    height: 12px;
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-thumbSizeSmall)::before {
    box-shadow: none;
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-horizontal) {
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
  }

  [dir='rtl'] :global(.MuiSlider-thumb):global(.MuiSlider-horizontal) {
    transform: translate(50%, -50%);
  }

  :global(.MuiSlider-thumb):global(.MuiSlider-vertical) {
    inset-inline-start: 50%;
    transform: translate(-50%, 50%);
  }

  :global(.MuiSlider-thumb):global(.Mui-disabled):hover {
    box-shadow: none;
  }

  :global(.MuiSlider-valueLabel) {
    z-index: 1;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-weight: 500;
    transition: transform var(--mui-transitions-duration-shortest)
      var(--mui-transitions-easing-easeInOut);
    position: absolute;
    background-color: var(--mui-palette-grey-600);
    border-radius: 2px;
    color: var(--mui-palette-common-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.75rem;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-horizontal) {
    transform: translateY(-100%) scale(0);
    inset-block-start: -10px;
    transform-origin: block-end center;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-horizontal)::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: inherit;
    inset-block-end: 0;
    inset-inline-start: 50%;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-horizontal):global(.MuiSlider-valueLabelOpen) {
    transform: translateY(-100%) scale(1);
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-vertical) {
    transform: translateY(-50%) scale(0);
    inset-inline-end: 30px;
    inset-block-start: 50%;
    transform-origin: inline-end center;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-vertical)::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: inherit;
    inset-inline-end: -8px;
    inset-block-start: 50%;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-vertical):global(.MuiSlider-valueLabelOpen) {
    transform: translateY(-50%) scale(1);
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-sizeSmall) {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  :global(.MuiSlider-valueLabel):global(.MuiSlider-vertical):global(.MuiSlider-sizeSmall) {
    inset-inline-end: 20px;
  }

  :global(.MuiSlider-mark) {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background-color: currentColor;
  }

  :global(.MuiSlider-mark):global(.MuiSlider-horizontal) {
    inset-block-start: 50%;
    transform: translate(-1px, -50%);
  }

  [dir='rtl'] :global(.MuiSlider-mark):global(.MuiSlider-horizontal) {
    transform: translate(1px, -50%);
  }

  :global(.MuiSlider-mark):global(.MuiSlider-vertical) {
    inset-inline-start: 50%;
    transform: translate(-50%, 1px);
  }

  :global(.MuiSlider-mark):global(.MuiSlider-markActive) {
    background-color: var(--mui-palette-background-paper);
    opacity: 0.8;
  }

  :global(.MuiSlider-markLabel) {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: var(--mui-palette-text-secondary);
    position: absolute;
    white-space: nowrap;
  }

  :global(.MuiSlider-markLabel):global(.MuiSlider-horizontal) {
    inset-block-start: 30px;
    transform: translateX(-50%);
  }

  [dir='rtl'] :global(.MuiSlider-markLabel):global(.MuiSlider-horizontal) {
    transform: translateX(50%);
  }

  @media (pointer: coarse) {
    :global(.MuiSlider-markLabel):global(.MuiSlider-horizontal) {
      inset-block-start: 40px;
    }
  }

  :global(.MuiSlider-markLabel):global(.MuiSlider-vertical) {
    inset-inline-start: 36px;
    transform: translateY(50%);
  }

  @media (pointer: coarse) {
    :global(.MuiSlider-markLabel):global(.MuiSlider-vertical) {
      inset-inline-start: 44px;
    }
  }

  :global(.MuiSlider-markLabel):global(.MuiSlider-markLabelActive) {
    color: var(--mui-palette-text-primary);
  }
}
