@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-q9zc52');
	src:url('fonts/icomoon.eot?#iefix-q9zc52') format('embedded-opentype'),
		url('fonts/icomoon.woff?-q9zc52') format('woff'),
		url('fonts/icomoon.ttf?-q9zc52') format('truetype'),
		url('fonts/icomoon.svg?-q9zc52#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-action-grade:before {
	content: "\e605";
}

.icon-action-stars:before {
	content: "\e600";
}

.icon-action-thumb_up:before {
	content: "\e601";
}

.icon-communication-phone:before {
	content: "\e602";
}

.icon-communication-voicemail:before {
	content: "\e603";
}

.icon-navigation-expand-more:before {
	content: "\e604";
}

