.actionBar {
    height: 60px;
    background-color: #ffffff;
    padding: 10px 15px;
    z-index: 9;
    padding-top: 12px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
}
.back {
    float:left;
}
.action {
    float:right;
}