.sjfloo5 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.sjfloo5-1 {
  font-size: 3rem;
}
.sjfloo5._1o8xp19 {
  color: red;
}
.sjfloo5._1xbsywq {
  color: var(--_1xbsywq-0);
}
.sjfloo5._1wnk6s5 {
  background-color: blue;
  color: white;
}
.sjfloo5._tzaibv {
  color: var(--_tzaibv-0);
}
.sjfloo5._azg8ol {
  margin-bottom: 8px;
  text-align: center;
}
