.sdbmcs3 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.sdbmcs3-1 {
  font-size: 3rem;
}
.sdbmcs3.si7ulc4 {
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  .sdbmcs3.si7ulc4 {
    color: white;
  }
}
