.sjfloo5 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.sjfloo5-1 {
  font-size: 3rem;
}
.sjfloo5.s1o8xp19 {
  color: red;
}
.sjfloo5.s1xbsywq {
  color: var(--s1xbsywq-0);
}
.sjfloo5.s1wnk6s5 {
  background-color: blue;
  color: white;
}
.sjfloo5.stzaibv {
  color: var(--stzaibv-0);
}
.sjfloo5.sazg8ol {
  margin-bottom: 8px;
  text-align: center;
}
