.sdbmcs3 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.sdbmcs3-1 {
  font-size: 3rem;
}
.sdbmcs3._i7ulc4 {
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  .sdbmcs3._i7ulc4 {
    color: white;
  }
}
.sdbmcs3._liig2s {
  border-radius: 8px;
  margin: 5px;
}
.sdbmcs3._liig2s.MuiAutocomplete-option {
  padding: 8px;
}
.sdbmcs3._o956n {
  color: red;
  font-size: var(--_o956n-0);
}
@media (min-width: 0px) {
  .sdbmcs3._o956n :hover {
    background-color: red;
  }
}
@media (min-width: 600px) {
  .sdbmcs3._o956n :hover {
    background-color: blue;
    color: red;
  }
}
@media (min-width: 900px) {
  .sdbmcs3._o956n :hover {
    color: blue;
  }
}
