.MuiButtonGroup-root .MuiButtonGroup-groupedHorizontal {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedVertical {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedText {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedTextHorizontal {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedTextVertical {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedTextPrimary {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedTextSecondary {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedOutlined {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedOutlinedHorizontal {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedOutlinedVertical {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedOutlinedPrimary {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedOutlinedSecondary {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedContained {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedContainedHorizontal {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedContainedVertical {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedContainedPrimary {
  color: red;
}

.MuiButtonGroup-root .MuiButtonGroup-groupedContainedSecondary {
  color: red;
}
