{
  "presets": [
    ["@babel/env", { "loose": true }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-runtime"
      ]
    },
    "cjs": {
      "plugins": [
        "@babel/transform-runtime"
      ]
    }
  }
}
