/* material-ui */
@import "../../dist/less/scaffolding.less";
@import "../../dist/less/components.less";

/* hightlight.js for syntax highlighting */
@import (less) "monokai_sublime.css";

@import "color-palette.less";
@import "icon-group.less";

a {
	color: @accent-1-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* App Specific Styles */
.mui-app-canvas {

	height: 100%;

	.mui-app-content-canvas {

		.clearfix();
		height: 100%;

		&.with-nav {
			@subNavWidth: (@desktop-keyline-increment * 4 + 1);

			.subNav {
				height: 100%;
				width: @subNavWidth;
				float: left;
				border-right: solid 1px @grey-300;
			}

			.subContent {
				.clearfix();
				.lh-calc(width, ~'100% - @{subNavWidth}');
				float: left;
				padding: @desktop-gutter;
				border-left: solid 1px @grey-300;
				margin-left: -1px;
			}
		}
		
	}
}

.logo {
	cursor: pointer;
	.mui-font-style-headline;
	.mui-text-full-white;
	line-height: @app-bar-height;
	.mui-font-weight-light;
	background-color: @primary-1-color;
	padding-left: @desktop-gutter;
	padding-top: 0;
	margin-bottom: @desktop-gutter-mini;
}

.full-width-section {
	padding: @desktop-gutter;

	&.call-out-statement {
		text-align: center;
	}
}

.home-page-hero {
	background-color: @primary-1-color;
	height: (@desktop-keyline-increment * 8);
	color: @dark-white;

	.home-page-hero-content {
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
		.clearfix();
	}

	.tagline {
		width: 50%;
		float: right;
		margin-top: 32px;
		position: relative;
	}

	.svg-logo {
		top: 15px;
		left: 48px;
		position: absolute;
		width: 1050px;
	}

	.mui-font-style-headline,
	.mui-font-style-subhead-1 {
		color: @dark-white;
	}

	.mui-font-style-headline {
		.mui-font-weight-light;
	}

	.brand-name {
		.mui-font-style-display-3;
		.mui-font-weight-light;
		color: @dark-white;
	}
}

.home-features {
	padding: (@desktop-keyline-increment * 2) @desktop-gutter;
	.clearfix();

	.feature {
		float: left;
		text-align: center;
		width: 33%;


		.icon-circle {
			height: 128px;
			width: 128px;
			margin: 0 auto;
			background-color: @grey-200;
			.lh-border-radius(50%);
			margin-bottom: @desktop-gutter;
			cursor: pointer;

			.mui-icon {
				color: @primary-1-color;
				line-height: 128px;
				font-size: 48px;
			}
		}
		

		h3 {
			.mui-font-weight-light;
		}

		p {
			.mui-font-style-subhead-1;
			padding: 0 (@desktop-gutter * 2);
			.mui-text-light-black;
		}

	}
}

.home-contribute {
	background-color: @grey-200;
	padding: (@desktop-gutter * 1.5);
	.clearfix();

	.content-container {
		width: 750px;
		margin: 0 auto;

		h3 {
			.mui-font-weight-light;
			float: left;
		}

		.mui-paper-button {
			float: right;
			margin-top: 15px;
		}
	}
}

.baseline-grid {
	background-image: url('images/baseline-20px-grid.gif');
}

.code-example {
	max-width: (@desktop-keyline-increment * 14);
	background-color: @white;
	margin-bottom: 80px;

	.example-label {
		.mui-font-style-menu;
		display: inline-block;
		text-transform: uppercase;
		color: @min-black;
		padding: @desktop-gutter-mini;
		border-right: solid 1px @border-color;
		border-bottom: solid 1px @border-color;
		margin-bottom: 0;
		.lh-border-radius(0 0 2px 0);
	}

	.example-block,
	.code-block {
		padding: @desktop-gutter;
	}

	.code-block {
		border-top: solid 1px @border-color;
		.lh-border-radius(0 0 2px 2px);
	}
}

.example-menu {
	width: (64px * 4);
}

.example-menu-nested {
	width: (64px * 3);
}