.MuiSelect-select .MuiSelect-filled ~ .MuiSelect-icon {
  color: red;
}

.MuiSelect-select .MuiSelect-outlined ~ .MuiSelect-icon {
  color: red;
}

.MuiSelect-select .MuiSelect-standard ~ .MuiSelect-icon {
  color: red;
}
