.MuiAlert-standardSuccess {
  color: red;
}

.MuiAlert-standardInfo {
  color: red;
}

.MuiAlert-standardWarning {
  color: red;
}

.MuiAlert-standardError {
  color: red;
}

.MuiAlert-outlinedSuccess {
  color: red;
}

.MuiAlert-outlinedInfo {
  color: red;
}

.MuiAlert-outlinedWarning {
  color: red;
}

.MuiAlert-outlinedError {
  color: red;
}

.MuiAlert-filledSuccess {
  color: red;
}

.MuiAlert-filledInfo {
  color: red;
}

.MuiAlert-filledWarning {
  color: red;
}

.MuiAlert-filledError {
  color: red;
}
