.MuiAlert-standard.MuiAlert-colorSuccess {
  color: red;
}

.MuiAlert-standard.MuiAlert-colorInfo {
  color: red;
}

.MuiAlert-standard.MuiAlert-colorWarning {
  color: red;
}

.MuiAlert-standard.MuiAlert-colorError {
  color: red;
}

.MuiAlert-outlined.MuiAlert-colorSuccess {
  color: red;
}

.MuiAlert-outlined.MuiAlert-colorInfo {
  color: red;
}

.MuiAlert-outlined.MuiAlert-colorWarning {
  color: red;
}

.MuiAlert-outlined.MuiAlert-colorError {
  color: red;
}

.MuiAlert-filled.MuiAlert-colorSuccess {
  color: red;
}

.MuiAlert-filled.MuiAlert-colorInfo {
  color: red;
}

.MuiAlert-filled.MuiAlert-colorWarning {
  color: red;
}

.MuiAlert-filled.MuiAlert-colorError {
  color: red;
}
