.MuiSlider-root .MuiSlider-iconSizeSmall {
  color: red;
}

.MuiSlider-root .MuiSlider-iconSizeMedium {
  color: red;
}

.MuiSlider-root .MuiSlider-colorPrimary {
  color: red;
}

.MuiSlider-root .MuiSlider-colorSecondary {
  color: red;
}

.MuiSlider-root .MuiSlider-colorError {
  color: red;
}

.MuiSlider-root .MuiSlider-colorInfo {
  color: red;
}

.MuiSlider-root .MuiSlider-colorSuccess {
  color: red;
}

.MuiSlider-root .MuiSlider-colorWarning {
  color: red;
}
