.MuiSlider-root .MuiSlider-thumbSizeSmall {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbSizeMedium {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorPrimary {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorSecondary {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorError {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorInfo {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorSuccess {
  color: red;
}

.MuiSlider-root .MuiSlider-thumbColorWarning {
  color: red;
}
