@keyframes r1yjyf7p{from{transform:rotate(360deg);}to{transform:rotate(0deg);}}
.cir471u{color:red;animation:r1yjyf7p 2s ease-out 0s infinite;}
.c1xj10ek{color:red;font-size:3rem;}
.sefdpty{display:block;position:absolute;border-radius:inherit;background-color:currentColor;opacity:0.38;font-size:3rem;}
.sefdpty-1{font-size:3rem;}
.s13fhnbp{display:block;opacity:0.38;font-size:3rem;}
