.mui-app-bar {
  width: 100%;
  min-height: @desktop-keyline-increment;
  
  background-color: @app-bar-color;
  z-index: 5;

  .mui-paper-container {
    padding-left: @desktop-gutter;
    padding-right: @desktop-gutter;
  }

  .mui-icon-button {
    margin-top: ((@app-bar-height - @icon-button-size) / 2);
    * {
      fill: @app-bar-text-color;
      color: @app-bar-text-color;
    }
  }

  .mui-app-bar-title {
    .mui-font-style-headline;
    color: @app-bar-text-color;
    padding-top: 0;
    line-height: @desktop-keyline-increment;
    float: left;
  }

  .mui-app-bar-navigation-icon-button {
    float: left;

    margin-right: 8px;

    margin-left: -16px;
  }

}
