@checkbox-cursor: pointer;
@checkbox-position: relative;
@checkbox-size: 18px;

@checkbox-input-position: absolute;

@checkbox-box-position: absolute;

@checkbox-check-position: absolute;

.mui-switch-checkbox {
    .ease-out;
    height: @checkbox-size;
    width: @checkbox-size;
    margin-right: @desktop-gutter-mini;

    .mui-checkbox-box {
      .ease-out;
      color: @checkbox-box-color;
      position: @checkbox-box-position;
      transition: color 1s ease;
    }

    .mui-checkbox-check {
      .ease-out;
      color: @checkbox-checked-color;
      position: @checkbox-check-position;
      opacity: 0;
      transform: scale(0);
      transform-origin: 50% 50%;
    }

    &.mui-is-switched {
      .mui-checkbox-check {
        opacity: 1;
        transform: scale(1);
      }
      .mui-checkbox-box {
        & {
          color: @checkbox-checked-color;
          transition: color 0.5s ease;
        }
      }
    }

    &.mui-is-disabled {
      .mui-checkbox-check {
        color: @checkbox-disabled-color;
      }
      .mui-checkbox-box {
        & {
          color: @checkbox-disabled-color;
        }
      }
    }

    &.mui-is-required {
      .mui-checkbox-box {
        & {
          color: @checkbox-required-color;
        }
      }
    }
}
