@checkbox-cursor: pointer;
@checkbox-position: relative;
@checkbox-size: 18px;

@checkbox-input-display: none;

@checkbox-box-border-radius: 3px;
@checkbox-box-box-sizing: border-box;
@checkbox-box-position: absolute;
@checkbox-box-size: 18px;
@checkbox-label-spacing: calc(@checkbox-box-size + @desktop-gutter-mini);
@checkbox-box-transform-origin: 40% 90%;
@checkbox-box-transform: rotate(0deg) scale(1);

@checkbox-check-fix-left: 4px;
@checkbox-check-fix-bottom: 6px;
@checkbox-check-height: 10px;
@checkbox-check-position: absolute;
@checkbox-check-transform-origin: 40% 100%;
@checkbox-check-transform: rotate(-45deg) scale(0);
@checkbox-check-width: 15px;

@checkbox-checked-box-transform: rotate(45deg) scale(0);

@checkbox-checked-check-height: 10px;
@checkbox-checked-check-transform: rotate(-45deg) scale(1);
@checkbox-checked-check-transition-delay: .1s;
@checkbox-checked-check-width: 18px;

.mui-checkbox {
  .ease-out;
  cursor: @checkbox-cursor;
  position: @checkbox-position;

/*
  // The first nested div which is for the label area
  .mui-checkbox-label {
    position: relative;
    left: @checkbox-label-spacing;
    padding-right: 25px;
    width: calc(100% - @checkbox-box-size);
    height: 100%;
  }

  // The second nested div which is 
  .mui-checkbox-component {
    width: @checkbox-box-size;

    input {
      opacity: 100;
      width: inherit;
      height: inherit;
    }

    .mui-checkbox-box {
      .ease-out;
      background-color: @checkbox-box-background-color;
      border: 2px solid @checkbox-box-border-color;
      border-radius: @checkbox-box-border-radius;
      box-sizing: @checkbox-box-box-sizing;
      height: @checkbox-box-size;
      position: @checkbox-box-position;
      transform: @checkbox-box-transform;
      transform-origin: @checkbox-box-transform-origin;
      width: @checkbox-box-size;
    }

    .mui-checkbox-check {
      .ease-out;
      border-bottom: 2px solid @checkbox-check-color;
      border-left: 2px solid @checkbox-check-color;
      bottom: calc(100% - @checkbox-box-size);
      height: @checkbox-check-height;
      // left: @checkbox-check-fix-left;
      position: @checkbox-check-position;
      transform: @checkbox-check-transform;
      transform-origin: @checkbox-check-transform-origin;
      width: @checkbox-check-height;
    }

    &.mui-checked {
      .mui-checkbox-box {
        .ease-out;
        transform: rotate(45deg) scale(0);
      }

      .mui-checkbox-check {
        .ease-out;
        height: @checkbox-checked-check-height;
        transform: @checkbox-checked-check-transform;
        transition-delay: @checkbox-checked-check-transition-delay;
        width: @checkbox-checked-check-width;
      }
    }

    &.mui-disabled {
      background-color: #cccccc;//@checkbox-box-background-color;
      border: 2px solid #999999;//@checkbox-box-border-color;
    }


  }
  */
}







.mui-mo-checkbox {
  background-color: #ffdddd;
  width: 100%;

  .ease-out;
  cursor: @checkbox-cursor;
  position: @checkbox-position;

  .mui-mo-checkbox-component {
    background-color: #ddffdd;
    width: 15%;//@checkbox-box-size;
    float: left;
    overflow: hidden;

    input {
      opacity: 0;
      width: inherit;
      height: inherit;
    }

    .mui-mo-checkbox-box {
      background-color: #ff0000;
      width: @checkbox-box-size;
      height: @checkbox-box-size;

      // .ease-out;
      // background-color: @checkbox-box-background-color;
      // border: 2px solid @checkbox-box-border-color;
      // border-radius: @checkbox-box-border-radius;
      // box-sizing: @checkbox-box-box-sizing;
      // height: @checkbox-box-size;
      position: @checkbox-box-position;
      // transform: @checkbox-box-transform;
      // transform-origin: @checkbox-box-transform-origin;
      // width: @checkbox-box-size;
    }

    .mui-mo-checkbox-check {
      background-color: #bbaacc;
      width: @checkbox-box-size;
      height: @checkbox-box-size;

      // .ease-out;
      // border-bottom: 2px solid @checkbox-check-color;
      // border-left: 2px solid @checkbox-check-color;
      // bottom: calc(100% - @checkbox-box-size);
      // height: @checkbox-check-height;
      // // left: @checkbox-check-fix-left;
      position: @checkbox-check-position;
      // transform: @checkbox-check-transform;
      // transform-origin: @checkbox-check-transform-origin;
      // width: @checkbox-check-height;
    }

    &.mui-checked {

      .mui-mo-checkbox-box {
        background-color: #bbaacc;

        .ease-out;
        transform: rotate(45deg) scale(0);
      }

      .mui-mo-checkbox-check {
        background-color: #ff0000;

        // .ease-out;
        // height: @checkbox-checked-check-height;
        // transform: @checkbox-checked-check-transform;
        // transition-delay: @checkbox-checked-check-transition-delay;
        // width: @checkbox-checked-check-width;
      }
    }

    &.mui-disabled {
      .mui-mo-checkbox-check {
        background-color: #999999;
      }
    }
  }

  .mui-mo-checkbox-label {
    background-color: #ddddff;
    width: 85%;//@checkbox-box-size;
    float: right;
    overflow: hidden;

    position: relative;
    //left: @checkbox-label-spacing;
    //padding-right: 25px;
    //width: calc(100% - @checkbox-box-size);
    height: 100%;
  }
}

