.mui-dialog-window {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: -10000px;
  width: 100%;
  height: 100%;
  transition: left 0ms @ease-out-function 450ms;

  .mui-dialog-window-contents {
    .ease-out();
    position: relative;
    width: 75%;
    max-width: (@desktop-keyline-increment * 12);
    margin: 0 auto;
    z-index: 10;
    background: @canvas-color;
    opacity: 0;
  }

  .mui-dialog-window-actions {
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    text-align: right;

    .mui-dialog-window-action {
      margin-right: 8px;
    }
  }

  &.mui-is-shown {
    left: 0px;
    transition: left 0ms @ease-out-function 0ms;

    .mui-dialog-window-contents {
      opacity: 1;
      top: 0px;
      transform: translate3d(0, @desktop-keyline-increment, 0);
    }
  }
}