.mui-dialog {
  .mui-dialog-title {
    padding: @desktop-gutter @desktop-gutter 0 @desktop-gutter;
    margin-bottom: 0;
  }

  .mui-dialog-content {
    padding: @desktop-gutter;
  }

  .mui-dialog-actions {

    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    .clearfix;

    .mui-dialog-actions-right {
      float: right;
    }

    .mui-dialog-action {
      margin-right: 8px;
      float: left;
    }
  }
}