@icon-width: 48px;

.mui-drop-down-icon {
  display: inline-block;
  width: @icon-width !important;
  position: relative;
  height: @desktop-toolbar-height;
  font-size: @desktop-drop-down-menu-font-size;
  cursor: pointer;

  &.mui-open {
    .mui-icon-highlight {
      background-color: rgba(0, 0, 0, .1);
    }

    .mui-menu-control,
    .mui-menu-control:hover {
      .mui-menu-control-bg {
        opacity: 0;
      }
      .mui-menu-label {
        top: (@desktop-toolbar-height / 2);
        opacity: 0;
      }
    }

    .mui-menu {
      opacity: 1;
    }
  }

  .mui-menu {
    .ease-out;
    right: -14px !important;
    top: 9px !important;

    .mui-menu-item {
      padding-right: (@icon-size + (@desktop-gutter-less*2));
      height: @desktop-drop-down-menu-item-height;
      line-height: @desktop-drop-down-menu-item-height;
    }
  }
}
