@mui-switch-width: 60px;

.mui-switch-wrap {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: auto;
  width: 100%;

  input {
    position: absolute;
    cursor: pointer;
    pointer-events: all;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
  }

  .mui-switch {
    .ease-out();
    float: left;
    position: relative;
  }

  .mui-switch-label {
    float: left;
    width: calc(~"100% - @{mui-switch-width}");
    line-height: 24px;
  }
}