.mui-enhanced-button {

  border: 0;
  background: none;

  &:focus {
    outline: none;
  }

  &.mui-is-link-button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }

    &.mui-is-disabled {
      cursor: default;
    }
  }

}
