.mui-enhanced-switch {
  @mui-switch-width: 60px;

  position: relative;
  cursor: pointer;
  overflow: visible;
  display: table;
  height: auto;
  width: 100%;

  .mui-enhanced-switch-input {
    position: absolute;
    cursor: pointer;
    pointer-events: all;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
  }

  .mui-enhanced-switch-wrap {
    .ease-out();
    float: left;
    position: relative;
    display: table-column;


    .mui-touch-ripple, 
    .mui-focus-ripple-inner {
        width: 200%;
        height: 200%;
        top: -12px;
        left: -12px;
    }
  }
  
  .mui-switch-label {
    float: left;
    position: relative;
    display: table-column;
    width: calc(~"100% - @{mui-switch-width}");
    line-height: 24px;
  }

  &.mui-is-switched {
    .mui-focus-ripple-inner,
    .mui-ripple-circle-inner {
      background-color: @switches-ripple-color;
    }
  }
}