.mui-flat-button {

  .ease-out();
  .mui-font-style-button;
  border-radius: 2px;
  user-select: none;

  position: relative;
  overflow: hidden;
  background-color: @flat-button-color;
  color: @flat-button-text-color;
  line-height: @button-height;
  min-width: @button-min-width;
  padding: 0;
  margin: 0;

  //This is need so that ripples do not bleed
  //past border radius.
  //See: http://stackoverflow.com/questions/17298739/css-overflow-hidden-not-working-in-chrome-when-parent-has-border-radius-and-chil
  transform: translate3d(0, 0, 0);

  .mui-touch-ripple {
    .mui-ripple-circle-inner {
      background-color: @flat-button-ripple-color;
    }
  }

  .mui-focus-ripple {
    .mui-focus-ripple-inner {
      background-color: @flat-button-focus-ripple-color;
    }
  }

  .mui-flat-button-label {
    position: relative;
    padding: 0 @desktop-gutter-less;
  }

  &:hover,
  &.mui-is-keyboard-focused {
    background-color: @flat-button-hover-color;
  }

  &.mui-is-disabled {
    color: @flat-button-disabled-text-color;

    &:hover {
      background-color: inherit;
    }
  }

  &.mui-is-primary {
    color: @flat-button-primary-text-color;

    &:hover,
    &.mui-is-keyboard-focused {
      background-color: @flat-button-primary-hover-color;
    }

    .mui-touch-ripple {
      .mui-ripple-circle-inner {
        background-color: @flat-button-primary-ripple-color;
      }
    }

    .mui-focus-ripple {
      .mui-focus-ripple-inner {
        background-color: @flat-button-primary-focus-ripple-color;
      }
    }
  }

  &.mui-is-secondary {
    color: @flat-button-secondary-text-color;

    &:hover,
    &.mui-is-keyboard-focused {
      background-color: @flat-button-secondary-hover-color;
    }

    .mui-touch-ripple {
      .mui-ripple-circle-inner {
        background-color: @flat-button-secondary-ripple-color;
      }
    }

    .mui-focus-ripple {
      .mui-focus-ripple-inner {
        background-color: @flat-button-secondary-focus-ripple-color;
      }
    }
  }
}