@icon-button-size: (@icon-size * 2);

.mui-icon-button {

  * { .ease-out(); }
  position: relative;
  padding: 0;

  .mui-icon-button-target {
    padding: (@icon-size / 2);
  }

  .mui-icon-button-focus-ripple {
    top: 0;
    left: 0;
    transform: translate(0, 0);

    width: @icon-button-size;
    height: @icon-button-size;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    border: solid 6px @transparent;
    background-color: rgba(0,0,0,0.1);
    opacity: 0;
  }

  .mui-icon-button-tooltip {  
    margin-top: (@icon-button-size + 4);
  }

  &.mui-is-disabled {
    color: lighten(@body-text-color, 75%);
  }

  &.mui-is-keyboard-focused {
    .mui-icon-button-focus-ripple {
      .pulsate(ripple-icon-button-focus);
      opacity: 1;
    }
  }
}

.mui-dark-theme {

  .mui-icon-button-ripple {
    &.mui-ripple-circle-inner {
      background-color: rgba(255,255,255,0.3);
    }
  }

  .mui-icon-button-focus-ripple {
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.3);
  }
}