.mui-input {
  position: relative;
  margin-top: 24px;
  margin-bottom: 48px;

  input, textarea {
    background-color: transparent;
    font-size: @input-font-size;
    border: 0;
    outline: none;
    border-bottom: 1px solid lightgray;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 14px;

    &[type='text'], &[type='password'], &[type='email'] {
      display: block;
      width: @input-width;
    }

    &:focus, &.mui-is-not-empty, &:disabled[value]:not([value=""]) {
      outline: none;
      box-shadow: none;
      &~.mui-input-placeholder {
        color: blue;
        font-size: @input-placeholder-size !important;
        font-weight: 300;
        top: -32px;
        .ease-out;
      }
      &~.mui-input-highlight {
        width: 0;
        background-color: blue;
        .ease-out;
      }
      &~.mui-input-bar {
        &::before, &::after {
          background-color: blue;
          width: 50%;
        }
      }
      &~.mui-input-description {
        display: block;
      }
    }

    &:not(:focus).mui-is-not-empty, &:disabled[value]:not([value=""]) {
      &+.mui-input-placeholder {
        color: gray;

        &+.mui-input-highlight {
          &+.mui-input-bar {
            &::before, &::after {
              width: 0;
            }

            &+.mui-input-description {
              display: none;
            }
          }
        }
      }
    }

    &+.mui-input-placeholder {
      font-size: @input-font-size;
      color: gray;
      position: absolute;
      top: -4px;
      //z-index: -1;
      .ease-out;
    }
  }

  .mui-input-highlight {
    content: '';
    position: absolute;
    background-color: transparent;
    opacity: 0.25;
    height: 19px;
    top: -3px;
    width: (@input-width/2);
    z-index: -1;
  }

  .mui-input-bar {
    position: relative;
    display: block;
    width: @input-width;

    &::before, &::after {
      content: '';
      height: @input-bar-height;
      top: (-1 * @input-bar-height);
      width: 0;
      position: absolute;
      .ease-out;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }
  }

  .mui-input-description {
    display: none;
    color: blue;
    position: absolute;
  }

  .mui-input-error {
    display: none;
    color: @input-error-color;
    position: absolute;
  }

  &.mui-error {
    input, textarea {
      &:focus, &.mui-is-not-empty {
        &+.mui-input-placeholder {
          color: @input-error-color;

          &+.mui-input-highlight {
            width: 0;
            background-color: red;

            &+.mui-input-bar {

              &::before, &::after {
                background-color: @input-error-color;
              }

              &+.mui-input-description {
                display: none;
              }
            }
          }
        }
      }

    }

    .mui-input-error {
      display: block;
    }
  }

  &.mui-floating {
    margin-top: @desktop-gutter;
    input, textarea {
      &:focus {
        &+.mui-input-placeholder {
          display: block;
          color: gray;
          font-size: 16px !important;
          font-weight: 400;
          top: -4px;
        }

        &.mui-is-not-empty {
          &+.mui-input-placeholder {
            display: none;
          }
        }
      }

      &.mui-is-not-empty {
        &+.mui-input-placeholder {
          display: none;
        }
      }
    }
  }
  
  &.mui-disabled { opacity: 0.4 }

  &::-webkit-input-placeholder {
    position: absolute !important;
    top: -20px !important;
  }

}
