.mui-left-nav {

  .mui-left-nav-menu {
    height: 100%;
    position: fixed;
    width: @left-nav-width;
    background-color: @left-nav-color;
    z-index: 10;
    left: 0px;
    top: 0px;
    .ease-out();

    .mui-menu {
      .mui-menu-item {
        height: @desktop-left-nav-menu-item-height;
        line-height: @desktop-left-nav-menu-item-height;
      }
      a.mui-menu-item {
        display: block;
        text-decoration: none;
        color: @body-text-color;
      }
    }
  }

  &.mui-closed {
    .mui-left-nav-menu {
      transform: translate3d((-1 * @left-nav-width) - 10px, 0, 0);
    }
  }
}