.mui-paper {

  &.mui-rounded {
    border-radius: 2px;

    & > .mui-paper-container {
      border-radius: 2px;
    }
  }

  &.mui-circle {
    border-radius: 50%;

    & > .mui-paper-container {
      border-radius: 50%;
    }
  }

  & > .mui-paper-container {
    height: 100%;
    width: 100%;
  }

  &.mui-z-depth-1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    & > .mui-z-depth-bottom {
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    }
  }

  &.mui-z-depth-2 {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
    & > .mui-z-depth-bottom {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    }
  }

  &.mui-z-depth-3 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);
    & > .mui-z-depth-bottom {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    }
  }

  &.mui-z-depth-4 {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);
    & > .mui-z-depth-bottom {
      box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25);
    }
  }

  &.mui-z-depth-5 {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
    & > .mui-z-depth-bottom {
      box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30);
    }
  }

}
