.mui-radio-button {
  .mui-radio-button-icon {
    @radio-button-size: 24px;

    height: @radio-button-size;
    width: @radio-button-size;
    margin-right: @desktop-gutter-less;
    

    .mui-radio-button-fill {
      position: absolute;
      opacity: 0;
      transform: scale(0);
      transform-origin: 50% 50%;
      .ease-out;
      * { fill: @radio-button-checked-color; }
    }

    .mui-radio-button-target {
      .ease-out();
      position: absolute;
      opacity: 1;
      transform: scale(1);
      * {
        fill: @radio-button-border-color;
        .ease-out(@duration: 2s; @delay: 200ms);
      }
    }
  }
    
  &.mui-is-switched {
    .mui-radio-button-icon {
      .mui-radio-button-fill {
        opacity: 1;
        transform: scale(1);
      }

      .mui-radio-button-target {
        opacity: 0;
        transform: scale(0);
        * { 
          fill: @radio-button-checked-color; 
          .ease-out(@duration: 100s; @delay: 0ms);
        }
      }
    }
  }

  &.mui-is-disabled {
    .mui-radio-button-icon {
      .mui-radio-button-fill,
      .mui-radio-button-target {
        * { fill: @radio-button-disabled-color; }
      }
    }
  }

  &.mui-is-required {
    .mui-radio-button-icon {
      .mui-radio-button-target {
        * { fill: @radio-button-required-color; }
      }
    }
  }
}


