.mui-subheader {
  .mui-font-style-body-2;
  margin: 0;
  height: @desktop-subheader-height + @desktop-gutter-mini;
  line-height: @desktop-subheader-height;
  color: @subheader-text-color;
  border-top: solid 1px @subheader-border-color;
  padding-top: @desktop-gutter-mini;
  margin-top: @desktop-gutter-mini;

  &:first-child {
    height: @desktop-subheader-height;
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}
