.mui-switch-wrap {
  @mui-switch-width: 60px;

  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: auto;
  width: 100%;

  .mui-switch {
    .ease-out();
    float: left;
    position: relative;
  }

  .mui-switch-label {
    float: left;
    width: calc(~"100% - @{mui-switch-width}");
    line-height: 24px;
  }
}
