@toggle-width: 36px;

.mui-toggle-wrap {

  .mui-toggle-label {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
    margin-left: @desktop-gutter-mini;
    width: calc(100% - @toggle-width);
  }
  .mui-toggle { 
    position: relative;
    line-height: 24px;
    width: @toggle-width;
    cursor: pointer;
    float: left;

    * {
      .ease-out();
    }

    .mui-toggle-track {
      width: 100%;
      height: 14px;
      border-radius: 30px;
      background-color: @toggle-track-off-color;
    }

    .mui-toggle-thumb {
      position: absolute;
      top: -3px;
      width: @toggle-size;
      height: @toggle-size;
      line-height: 24px;
      left: 0;
      border-radius: 50%;
      background-color: @toggle-thumb-off-color;

      .mui-paper-container {
        border-radius: 50%;
      }
    }

    &.mui-is-toggled {
      
      .mui-toggle-track {
        background-color: @toggle-track-on-color;
      }

      .mui-toggle-thumb {
        left: 16px;
        background-color: @toggle-thumb-on-color;
      }
    }

    &.mui-is-disabled {
      cursor: pointer;

      .mui-toggle-track {
        background-color: @toggle-track-disabled-color;
      }

      .mui-toggle-thumb {
        background-color: @toggle-thumb-disabled-color;
      }
    }

    &.mui-is-required {

      .mui-toggle-track {
        background-color: @toggle-track-required-color;
      }

      .mui-toggle-thumb {
        background-color: @toggle-thumb-required-color;
      }
    }
  }
}