.container {
    margin-top:50px;
    width: 100%;
    padding: 0;
    padding-left: 250px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
    clear: both;
}