@keyframes e1e13hby {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}
@keyframes e1tvgnzu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pcaz21v {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
.t19h7u0c {
  opacity: 0;
  position: absolute;
}
.t19h7u0c.MuiTouchRipple-rippleVisible {
  opacity: 0.3;
  transform: scale(1);
  animation-name: e1e13hby;
  animation-duration: 550ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.t19h7u0c.MuiTouchRipple-ripplePulsate {
  animation-duration: 200ms;
}
.t19h7u0c .MuiTouchRipple-child {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
}
.t19h7u0c .MuiTouchRipple-childLeaving {
  opacity: 0;
  animation-name: e1tvgnzu;
  animation-duration: 550ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.t19h7u0c .MuiTouchRipple-childPulsate {
  position: absolute;
  left: 0px;
  top: 0;
  animation-name: pcaz21v;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-delay: 200ms;
}
