:root {
  --primary-50: 215, 87%, 97%;
  --primary-100: 215, 68%, 88%;
  --primary-200: 215, 63%, 78%;
  --primary-300: 215, 39%, 65%;
  --primary-400: 215, 73%, 41%;
  --primary-500: 215, 81%, 26%;
  --primary-600: 215, 82%, 22%;
  --primary-700: 215, 89%, 17%;
  --primary-800: 215, 93%, 14%;
  --primary-900: 215, 97%, 12%;

  --grey-50: 213, 30%, 96%;
  --grey-100: 213, 22%, 91%;
  --grey-200: 213, 18%, 89%;
  --grey-300: 213, 18%, 81%;
  --grey-400: 213, 13%, 71%;
  --grey-500: 213, 12%, 64%;
  --grey-600: 213, 15%, 47%;
  --grey-700: 213, 11%, 31%;
  --grey-800: 213, 12%, 22%;
  --grey-900: 213, 11%, 11%;

  --font-color-soft: hsla(var(--grey-700));
  --font-color-hard: hsla(var(--grey-900));
  --font-color-onDark: #fff;
  --font-color-interactive: hsla(var(--primary-500));

  --h1-font-family: 'Inter', sans-serif;
  --h1-font-weight: 500;
  --h1-font-size: 2rem;
  --h1-line-height: 1.25;
  --text-h1: var(--h1-font-size) / var(--h1-line-height) var(--h1-font-family);

  --h2-font-family: 'Inter', sans-serif;
  --h2-font-weight: 500;
  --h2-font-size: 1.5rem;
  --h2-line-height: 1.25;
  --text-h2: var(--h2-font-size) / var(--h2-line-height) var(--h2-font-family);

  --h3-font-family: 'Inter', sans-serif;
  --h3-font-weight: 500;
  --h3-font-size: 1.25rem;
  --h3-line-height: 1.5;
  --text-h3: var(--h3-font-size) / var(--h3-line-height) var(--h3-font-family);

  --h4-font-family: 'Inter', sans-serif;
  --h4-font-weight: 300;
  --h4-font-size: 1.125rem;
  --h4-line-height: 1.5;
  --text-h4: var(--h4-font-size) / var(--h4-line-height) var(--h4-font-family);

  --h5-font-family: 'Inter', sans-serif;
  --h5-font-weight: 600;
  --h5-font-size: 0.875rem;
  --h5-line-height: 1.5;
  --text-h5: var(--h5-font-size) / var(--h5-line-height) var(--h5-font-family);

  --button-font-family: 'Inter', sans-serif;
  --button-font-weight: 500;
  --button-font-size: 0.875rem;
  --button-line-height: 1.5;
  --button-text: var(--button-font-weight) var(--button-font-size) / var(--button-line-height)
    var(--button-font-family);

  --body-font-family: 'Inter', sans-serif;
  --body-font-weight: 500;
  --body-font-size: 0.875rem;
  --body-line-height: 1.75;
  --text-body: var(--body-font-size) / var(--body-line-height) var(--body-font-family);

  --caption-font-family: 'Inter', sans-serif;
  --caption-font-weight: 600;
  --caption-font-size: 0.75rem;
  --caption-line-height: 1.5;
  --text-caption: var(--caption-font-weight) var(--caption-font-size) / var(--caption-line-height)
    var(--caption-font-family);

  --bg-default: #fff;
  --bg-soft: hsla(var(--grey-50));
  --bg-hard: hsla(var(--grey-100));
  --bg-highlight: hsla(var(--primary-500));
  --bg-overlay: hsla(0, 0, 0, 0.3);

  --bg-button: hsla(var(--primary-500));
  --bg-button-hover: hsla(var(--primary-700));
  --bg-button-active: hsla(var(--primary-800));
  --bg-button-disabled: hsla(var(--grey-100), 0.5);

  --bg-input-base: hsla(var(--grey-50), 0.5);
  --bg-input-hover: hsla(var(--grey-50));
  --bg-input-active: hsla(var(--grey-200));
  --bg-input-disabled: hsla(var(--grey-100));

  --background-interactive-thumb: var(--background-surface-default);

  --border-default: 1px solid hsla(var(--grey-200));
  --border-soft: 1px solid hsla(var(--grey-300));
  --border-hard: 1px solid hsla(var(--grey-500));
  --border-interactive: 1px solid hsla(var(--primary-500));
  --border-transparent: 1px solid hsla(0, 0, 0, 0);

  --shadow-elevation-1: 0px 1px 2px 0px hsla(0, 0, 0, 0.15);
  --shadow-elevation-2: 0px 2px 4px 0px hsla(var(--grey-700), 0.2);
  --shadow-elevation-3: 0px 4px 16px -4px hsla(0, 0, 0, 0.25), 0px 1px 2px -1px hsla(0, 0, 0, 0.15);
  --shadow-elevation-4: 0px 8px 32px -4px hsla(0, 0, 0, 0.25), 0px 1px 2px -1px hsla(0, 0, 0, 0.15);

  --shadow-interactive-button: 0 -2px 0 0 hsla(var(--primary-800), 0.8) inset,
    0 1.5px 0 0 hsla(var(--primary-400), 0.8) inset, 0 1px 0.5px 0 hsla(var(--primary-900), 0.3);
  --shadow-outlined-button: 0 -2px 0 0 hsla(var(--grey-200), 0.5) inset,
    0 1.5px 0 0 hsla(var(--grey-100), 0.4) inset, 0 1px 0.5px 0 hsla(var(--grey-500), 0.3);
  --shadow-input: 0px 1px 0.5px 0px hsla(var(--primary-500), 0.2);
  --shadow-interactive-switch-track: 0px 1px 1px 0px hsla(0, 0, 0, 0.05) inset;
  --shadow-interactive-switch-thumb: 0px 1px 2px 0px hsla(0, 0, 0, 0.3);
  --shadow-interactive-focus-visible: 0 0 0 3px hsla(var(--primary-300));

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 24px;
  --border-radius-full: 999px;
}

@media (prefers-color-scheme: dark) {
  .GalleryContainer,
  .GalleryMenu,
  .GalleryPopper,
  .GalleryPopup,
  .GallerySelect-listbox {
    --font-color-soft: var(--grey-300);
    --font-color-hard: var(--grey-50);
    --font-color-onDark: #fff;
    --font-color-interactive: var(--primary-300);

    --background-outlined-default: hsla(var(--grey-900));
    --background-outlined-soft: var(--grey-800);
    --background-outlined-hard: var(--grey-700);
    --background-outlined-highlight: var(--primary-500);
    --background-outlined-overlay: hsla(0, 0, 0, 0.6);

    --background-interactive-button-base: hsla(var(--primary-500));
    --background-interactive-button-hover: hsla(var(--primary-700));
    --background-interactive-button-active: hsla(var(--primary-800));
    --background-interactive-button-disabled: var(--grey-800);

    --background-interactive-input-base: var(--grey-900);
    --background-interactive-input-hover: var(--grey-800);
    --background-interactive-input-active: var(--grey-700);
    --background-interactive-input-disabled: var(--grey-800);
    --background-interactive-thumb: var(--grey-50);

    --border-default: 1px solid var(--grey-700);
    --border-soft: 1px solid var(--grey-700);
    --border-hard: 1px solid var(--grey-600);
    --border-interactive: 1px solid hsla(var(--primary-600), 0.5);
    --border-transparent: 1px solid hsla(0, 0, 0, 0);

    --shadow-elevation-1: 0px 2px 4px -0.5px hsla(0, 0, 0, 0.4);
    --shadow-elevation-2: 0px 2px 8px 0px hsla(0, 0, 0, 0.3), 0px 2px 4px -0.5px hsla(0, 0, 0, 0.4);
    --shadow-elevation-3: 0px 4px 8px 0px hsla(0, 0, 0, 0.32), 0px 8px 16px 0px hsla(0, 0, 0, 0.32);
    --shadow-elevation-4: 0px 2px 24px 0px hsla(0, 0, 0, 0.32),
      0px 16px 32px 0px hsla(0, 0, 0, 0.32);

    --shadow-interactive-button: 0 -3px 0 0 hsla(var(--primary-800), 0.6) inset,
      0 1.5px 0 0 hsla(var(--primary-400), 0.4) inset, 0px 2px 4px 0px hsla(0, 0, 0, 0.2);
    --shadow-interactive-input: 0px 2px 2px 0px hsla(0, 0, 0, 0.35);
    --shadow-interactive-switch-track: 0px 1px 1px 0px hsla(0, 0, 0, 0.35) inset;
    --shadow-interactive-switch-thumb: 0px 1px 2px 0px hsla(0, 0, 0, 0.3);
    --shadow-interactive-focus-visible: 0 0 0 3px hsla(var(--primary-300), 0.6);
  }
}

.GalleryContainer {
  background-color: var(--background-outlined-default);
}

.GalleryBadge-root {
  font: var(--text-caption);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.GalleryBadge-badge {
  font: var(--text-caption);
  color: var(--font-color-onDark);
  box-sizing: border-box;
  z-index: auto;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 18px;
  min-height: 18px;
  padding: 0 4px;
  white-space: nowrap;
  text-align: center;
  border-radius: var(--border-radius-full);
  /* background-color: #000; */
  background-color: var(--bg-highlight);
  box-shadow: var(--shadow-elevation-2);
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
}

.GalleryBadge-content {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-md);
  background: var(--bg-hard);
  border: var(--border-soft);
  display: inline-block;
  vertical-align: middle;
}

.GalleryButton {
  font: var(--button-text);
  color: var(--font-color-onDark);
  background-color: var(--bg-button);
  padding: 6px 12px;
  border-radius: var(--border-radius-md);
  transition: all 120ms ease;
  cursor: pointer;
  border: var(--border-interactive);
  box-shadow: var(--shadow-interactive-button);

  &:hover {
    background-color: var(--bg-button-hover);
  }

  &:active {
    background-color: var(--bg-button-active);
    box-shadow: none;
    scale: 0.98;
  }

  &:focus-visible {
    box-shadow: var(--shadow-interactive-button), var(--shadow-interactive-focus-visible);
    outline: none;
  }

  &:disabled {
    background-color: var(--bg-button-disabled);
    color: var(--font-color-soft);
    border: var(--border-transparent);
    cursor: not-allowed;
    box-shadow: none;

    &:hover {
      background-color: var(--bg-button-disabled);
    }
  }
}

.GalleryButtonOutlined {
  font: var(--button-text);
  color: var(--font-color-hard);
  background-color: var(--bg-default);
  padding: 6px 12px;
  border-radius: var(--border-radius-md);
  transition: all 120ms ease;
  cursor: pointer;
  border: var(--border-default);
  box-shadow: var(--shadow-outlined-button);

  &:hover {
    background-color: var(--bg-soft);
    border: var(--border-soft);
  }

  &:active {
    background-color: var(--bg-hard);
    box-shadow: none;
    scale: 0.98;
  }

  &:focus-visible {
    box-shadow: var(--shadow-interactive-focus-visible);
    outline: none;
  }

  &:disabled {
    background-color: var(--bg-button-disabled);
    color: var(--font-color-soft);
    border: var(--border-transparent);
    cursor: not-allowed;
    box-shadow: none;

    &:hover {
      background-color: var(--bg-button-disabled);
    }
  }
}

.GalleryButtonPlain {
  font: var(--button-text);
  color: var(--font-color-hard);
  background-color: white;
  padding: 6px 12px;
  border-radius: var(--border-radius-md);
  border: var(--border-transparent);
  transition: all 120ms ease;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-soft);
  }

  &:active {
    background-color: var(--bg-hard);
    scale: 0.98;
  }

  &:focus-visible {
    box-shadow: var(--shadow-interactive-focus-visible);
    outline: none;
  }

  &:disabled {
    background-color: var(--bg-button-disabled);
    color: var(--font-color-soft);
    border: var(--border-transparent);
    cursor: not-allowed;
    box-shadow: none;

    &:hover {
      background-color: var(--bg-button-disabled);
    }
  }
}

.GalleryInput .MuiInput-input {
  width: 300px;
  font: var(--text-body);
  color: var(--GalleryInput-input-color, var(--font-color-soft));
  padding: 6px 12px;
  border-radius: var(--border-radius-md);
  background: var(--bg-input-base);
  border: var(--border-soft);
  box-shadow: var(--shadow-input);
  transition: all 120ms ease;

  &:hover {
    border: var(--border-hard);
    background: var(--bg-input-hover);
  }

  &:focus {
    box-shadow: var(--shadow-interactive-focus-visible);
    border: var(--border-interactive);
    outline: 0;
  }
}

.GalleryMenu-listbox {
  font: var(--text-body);
  color: var(--GalleryMenu-listbox-color, var(--font-color-soft));
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  min-width: 200px;
  border-radius: var(--border-radius-lg);
  overflow: auto;
  outline: 0px;
  background: var(--background-surface-default);
  border: var(--border-soft);
  box-shadow: var(--shadow-elevation-2);
}

.GalleryMenu-item {
  list-style: none;
  padding: 8px;
  border-radius: var(--border-radius-md);
  cursor: default;
  user-select: none;
}

.GalleryMenu-item:last-of-type {
  border-bottom: none;
}

.GalleryMenu-item.Mui-focusVisible {
  outline: none;
  box-shadow: var(--shadow-interactive-focus-visible);
  background-color: var(--background-surface-soft);
  color: var(--font-color-soft);
}

.GalleryMenu-item.Mui-disabled {
  color: var(--font-color-soft);
}

.GalleryMenu-item:hover:not(.Mui-disabled) {
  background-color: var(--background-surface-soft);
  color: var(--font-color-soft);
}

.GalleryMenu {
  z-index: 1;
}

.GalleryNumberInput {
  width: 300px;
  border-radius: var(--border-radius-md);
  padding: 4px;
  background: var(--bg-input-base);
  border: var(--border-soft);
  box-shadow: var(--shadow-input);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: all 120ms ease;

  &:hover {
    border: var(--border-hard);
    background: var(--bg-input-hover);
  }

  &.Mui-focused {
    box-shadow: var(--shadow-interactive-focus-visible);
    border: var(--border-interactive);
    outline: 0;
  }
}

.GalleryNumberInput .input {
  font-family: inherit;
  font: var(--text-body);
  grid-column: 1/2;
  grid-row: 1/3;
  color: var(--font-color-soft);
  background: inherit;
  border: none;
  border-radius: inherit;
  padding: 8px;
  outline: 0;
}

.GalleryNumberInput .input:focus-visible {
  outline: 0;
}

.GalleryNumberInput .btn {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  appearance: none;
  box-sizing: border-box;
  background: var(--background-surface-soft);
  border: 0;
  transition: all 120ms ease;
}

.GalleryNumberInput .btn.increment {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  background: var(--bg-default);
  color: var(--font-color-soft);
  border: var(--border-soft);

  &:hover {
    cursor: pointer;
    color: var(--font-color-onDark);
    background: var(--bg-button);
    border: var(--border-interactive);
  }

  &:active {
    cursor: pointer;
    background: var(--bg-button-active);
  }
}

.GalleryNumberInput .btn.decrement {
  grid-column: 2/2;
  grid-row: 2/2;
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
  background: var(--bg-default);
  color: var(--font-color-soft);
  border: var(--border-soft);
  border-top: 0;

  &:hover {
    cursor: pointer;
    color: var(--font-color-onDark);
    background: var(--bg-button);
    border: var(--border-interactive);
    border-top: 0;
  }

  &:active {
    cursor: pointer;
    background: var(--bg-button-active);
  }
}

.GalleryPopper,
.GalleryPopup {
  font: var(--text-body);
  border-radius: var(--border-radius-md);
  padding: 0.75rem;
  opacity: 1;
  margin: 0.25rem 0px;
}

.GalleryPopper {
  background-color: var(--background-surface-soft);
  border: var(--border-default);
  box-shadow: var(--shadow-elevation-3);
  color: var(--font-color-soft);
}

.GalleryPopup {
  background-color: var(--background-surface-soft);
  border: var(--border-default);
  box-shadow: var(--shadow-elevation-3);
  color: var(--font-color-soft);
}

.GallerySelect {
  width: 300px;
  font: var(--text-body);
  text-align: left;
  color: var(--font-color-soft);
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: var(--border-radius-md);
  background: var(--bg-input-base);
  border: var(--border-soft);
  position: relative;
  box-shadow: var(--shadow-input);
  transition: all 120ms ease;
  cursor: pointer;

  &:hover {
    border: var(--border-hard);
    background: var(--bg-input-hover);
  }

  &.Mui-focusVisible {
    box-shadow: var(--shadow-interactive-focus-visible);
    border: var(--border-interactive);
    outline: 0;
  }

  & > svg {
    font-size: 1.2rem;
    position: absolute;
    height: 100%;
    top: 0;
    right: 8px;
  }
}

.GallerySelect-listbox {
  font: var(--text-body);
  line-height: var(--button-line-height);
  color: var(--font-color-soft);
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  min-width: 320px;
  border-radius: var(--border-radius-lg);
  overflow: auto;
  outline: 0px;
  background: var(--bg-default);
  border: var(--border-default);
  box-shadow: var(--shadow-elevation-2);
}

.GallerySelect-popper {
  z-index: 1;
}

.GallerySelect-option {
  list-style: none;
  padding: 8px;
  border-radius: var(--border-radius-md);
  cursor: default;

  &:last-of-type {
    border-bottom: none;
  }

  &.MuiOption-highlighted.Mui-selected {
    background-color: hsla(var(--primary-100), 0.5);
    color: hsla(var(--primary-700));

    &:hover {
      background-color: hsla(var(--primary-100));
    }
  }

  &.Mui-disabled {
    color: var(--font-color-soft);
  }

  &:hover:not(.Mui-disabled) {
    background-color: var(--bg-soft);
  }
}

.GallerySlider {
  color: var(--background-surface-highlight);
  height: 6px;
  width: 100%;
  padding: 16px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.GallerySlider:hover {
  opacity: 1;
}

.GallerySlider.Mui-disabled {
  pointer-events: none;
  cursor: default;
  color: var(--background-interactive-input-disabled);
  outline: none;
}

.GallerySlider-rail {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: var(--border-radius-sm);
  background-color: var(--background-surface-soft);
}

.GallerySlider-track {
  display: block;
  position: absolute;
  height: 4px;
  border-radius: var(--border-radius-sm);
  background-color: currentColor;
}

.GallerySlider-thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -6px;
  margin-top: -6px;
  box-sizing: border-box;
  border-radius: var(--border-radius-full);
  outline: 0;
  border: 3px solid;
  background-color: var(--background-interactive-thumb);
  box-shadow: var(--shadow-interactive-switch-thumb);
}

/* TODO: alpha used, needs to be changed */
/* .GallerySlider-thumb:hover {
  box-shadow: 0 0 0 0.25rem ${alpha(isDarkMode ? var(--primary-300) : var(--primary-200), 0.5)};
} */
.GallerySlider-thumb.Mui-disabled {
  box-shadow: none;
}

.GallerySlider-thumb:focus-visible {
  box-shadow: var(--shadow-interactive-focus-visible);
}

.GallerySlider-thumb.Mui-active {
  box-shadow: var(--shadow-interactive-focus-visible);
}

@keyframes in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.GallerySnackbar {
  position: fixed;
  z-index: 5500;
  display: flex;
  bottom: 16px;
  right: 16px;
  max-width: 560px;
  min-width: 300px;
}

.GallerySnackbar-content {
  font-family: var(--body-font-family);
  text-align: start;
  display: flex;
  gap: 8px;
  overflow: hidden;
  background-color: var(--background-surface-soft);
  border-radius: var(--border-radius-md);
  border: var(--border-default);
  box-shadow: var(--shadow-elevation-3);
  padding: 0.75rem;
  position: relative;

  & .snackbar-message {
    flex: 1 1 0%;
    max-width: 100%;
  }

  & .snackbar-title {
    margin: 0;
    font: var(--text-h5);
    color: var(--font-color-hard);
    margin-right: 0.5rem;
  }

  & .snackbar-description {
    margin: 0;
    font: var(--text-body);
    color: var(--font-color-soft);
  }

  & .snackbar-close-icon {
    font: var(--button-text);
    color: var(--font-color-hard);
    cursor: pointer;
    flex-shrink: 0;
    padding: 6px;
    border-radius: var(--border-radius-sm);

    &:hover {
      background: var(--background-surface-hard);
    }
  }
}

.GallerySwitch {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
  margin: 10px;
  cursor: pointer;
}

.GallerySwitch.Mui-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.GallerySwitch-track {
  background: var(--background-surface-soft);
  border: var(--border-soft);
  border-radius: var(--border-radius-full);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: var(--shadow-interactive-switch-track);
}

.GallerySwitch:hover .GallerySwitch-track {
  background: var(--background-interactive-input-hover);
  border: var(--border-hard);
}

.GallerySwitch-thumb {
  display: block;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  border-radius: var(--border-radius-full);
  border: var(--border-soft);
  background-color: var(--background-interactive-thumb);
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.GallerySwitch.Mui-focusVisible .GallerySwitch-track {
  box-shadow: var(--shadow-interactive-focus-visible);
}

.GallerySwitch.Mui-checked .GallerySwitch-thumb {
  left: 18px;
  background-color: var(--background-interactive-thumb);
  box-shadow: var(--shadow-interactive-switch-thumb);
}

.GallerySwitch.Mui-checked .GallerySwitch-track {
  background: var(--background-surface-highlight);
}

.GallerySwitch-input {
  cursor: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  margin: 0;
}

/* Demo's table styles start */

.GalleryTablePaginationDemo {
  width: 500px;
  max-width: 100%;
}

.GalleryTablePaginationDemo th {
  background-color: var(--background-surface-default);
}

.GalleryTablePaginationDemo table {
  font: var(--text-body);
  width: 100%;
  background-color: var(--background-surface-default);
  box-shadow: var(--shadow-elevation-3);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  border: var(--border-default);
}

.GalleryTablePaginationDemo td,
.GalleryTablePaginationDemo th {
  padding: 16px;
}

.GalleryTablePaginationDemo th {
  background-color: var(--background-surface-default);
}

/* Demo's table styles end */

.GalleryTablePagination .MuiTablePagination-spacer {
  display: none;
}

.GalleryTablePagination .MuiTablePagination-toolbar {
  font: var(--text-body);
  color: var(--font-color-soft);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.GalleryTablePagination .MuiTablePagination-selectLabel {
  margin: 0;
}

.GalleryTablePagination .MuiTablePagination-select {
  font: var(--text-body);
  color: var(--font-color-soft);
  padding: 4px 6px;
  border: var(--border-default);
  border-radius: var(--border-radius-full);
  background-color: var(--background-surface-soft);
}

.GalleryTablePagination .MuiTablePagination-select:hover {
  background-color: var(--background-surface-hard);
}

.GalleryTablePagination .MuiTablePagination-select:focus {
  box-shadow: var(--shadow-interactive-focus-visible);
  outline: none;
}

.GalleryTablePagination .MuiTablePagination-displayedRows {
  margin: 0;

  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.GalleryTablePagination .MuiTablePagination-actions {
  padding: 4px 6px;
  border: var(--border-default);
  border-radius: var(--border-radius-full);
  background-color: var(--background-surface-soft);
  text-align: center;
}

.GalleryTablePagination .MuiTablePagination-actions > button {
  font: var(--text-body);
  color: var(--font-color-soft);
  margin: 0 8px;
  border: transparent;
  border-radius: var(--border-radius-sm);
  background-color: transparent;
}

.GalleryTablePagination .MuiTablePagination-actions > button:hover {
  background-color: var(--background-surface-hard);
}

.GalleryTablePagination .MuiTablePagination-actions > button:focus {
  box-shadow: var(--shadow-interactive-focus-visible);
  outline: none;
}

.GalleryTablePagination .MuiTablePagination-actions > button:disabled {
  opacity: 0.3;
}

.GalleryTabsList {
  min-width: 400px;
  background-color: var(--background-surface-soft);
  border: var(--border-soft);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-interactive-switch-track);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.GalleryTab {
  font: var(--button-text);
  color: var(--font-color-hard);
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  padding: 8px;
  margin: 4px;
  border: none;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
}

.GalleryTab:hover {
  background-color: var(--background-surface-hard);
}

.GalleryTab:focus {
  outline: none;
  box-shadow: var(--shadow-interactive-focus-visible);
}

.GalleryTab.Mui-selected {
  background-color: var(--background-surface-highlight);
  color: var(--font-color-onDark);
}

.GalleryTab.Mui-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.GalleryTabPanel {
  font: var(--text-body);
  color: var(--font-color-hard);
  padding: 24px;
  background: var(--background-surface-soft);
  border-radius: var(--border-radius-md);
}

.GalleryTextarea {
  width: 288px;
  font: var(--text-body);
  color: var(--font-color-soft);
  min-height: 100px;
  padding: 6px 10px;
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 var(--border-radius-md);
  background: var(--background-interactive-input-base);
  border: var(--border-default);
  box-shadow: var(--shadow-interactive-input);
}

.GalleryTextarea:hover {
  border: var(--border-hard);
}

.GalleryTextarea:focus {
  border-color: var(--primary-400);
  box-shadow: var(--shadow-interactive-focus-visible);
  outline: none;
}

/* firefox */
.GalleryTextarea:focus-visible {
  outline: 0;
}
