.ripple-button-focus() {
  @top-offset: (@button-height / 2);

  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  padding-top: (@desktop-gutter-less * 2);
  margin-top: (-50% + @top-offset);

  .pulsate(
    @animation-name: ripple-button-focus;
    @start-size: 0.75;
    @end-size: 0.85;
  );
}