@ease-out-function: cubic-bezier(0.23, 1, 0.32, 1);

.ease-out(@duration: 450ms; @property: all; @delay: 0ms) {
  transition: @property @duration @ease-out-function @delay;
}

.pulsate(@animation-name; @start-size: 0.75; @end-size: 1; @duration: 1.5s) {
  @keyframes ~"@{animation-name}" {
    0%, 100% {
      transform: scale(@start-size);
    }
    50% {
      transform: scale(@end-size);
    }
  }  
  animation: @animation-name @duration ease 0s infinite;
}