//mobile view
@media only screen and (max-width: 800px) {

	.mobile_table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
  }

	// hides table head
  .mobile_table thead {
		visibility: hidden;
    vertical-align: middle;
    border-color: inherit;
  }

  //forces table to not act like a table/
  .mobile_table td {
    display: block;
    border: 1px dotted #CCCCCC;
		padding: 4%;
		height: 10%;
  }

  //Pulls the data label from Table Header and adds it to td
	.mobile_table td:before {
		content: attr(data-label);
    text-transform: uppercase;
		font-size: 1.25em;
    font-weight: bold;
		float: none;
    padding: 10px;
  }

}

//desktop view

@media only screen and (min-width: 801px) {
  thead {
    visibility: visible;
  }
	tr {
		display: table-row;
    margin-bottom: 0;
  }
	td {
		display: table-cell;
		 border-bottom: none;
	}
  td:before {
    content: "";
    display: none;
  }
}
