.MuiButton-textInherit {
  color: red;
}

.MuiButton-textPrimary {
  color: red;
}

.MuiButton-textSecondary {
  color: red;
}

.MuiButton-textSuccess {
  color: red;
}

.MuiButton-textError {
  color: red;
}

.MuiButton-textInfo {
  color: red;
}

.MuiButton-textWarning {
  color: red;
}

.MuiButton-outlinedInherit {
  color: red;
}

.MuiButton-outlinedPrimary {
  color: red;
}

.MuiButton-outlinedSecondary {
  color: red;
}

.MuiButton-outlinedSuccess {
  color: red;
}

.MuiButton-outlinedError {
  color: red;
}

.MuiButton-outlinedInfo {
  color: red;
}

.MuiButton-outlinedWarning {
  color: red;
}

.MuiButton-containedInherit {
  color: red;
}

.MuiButton-containedPrimary {
  color: red;
}

.MuiButton-containedSecondary {
  color: red;
}

.MuiButton-containedSuccess {
  color: red;
}

.MuiButton-containedError {
  color: red;
}

.MuiButton-containedInfo {
  color: red;
}

.MuiButton-containedWarning {
  color: red;
}

.MuiButton-textSizeSmall {
  color: red;
}

.MuiButton-textSizeMedium {
  color: red;
}

.MuiButton-textSizeLarge {
  color: red;
}

.MuiButton-outlinedSizeSmall {
  color: red;
}

.MuiButton-outlinedSizeMedium {
  color: red;
}

.MuiButton-outlinedSizeLarge {
  color: red;
}

.MuiButton-containedSizeSmall {
  color: red;
}

.MuiButton-containedSizeMedium {
  color: red;
}

.MuiButton-containedSizeLarge {
  color: red;
}

.MuiButton-root .MuiButton-iconSizeSmall {
  color: red;
}

.MuiButton-root .MuiButton-iconSizeMedium {
  color: red;
}

.MuiButton-root .MuiButton-iconSizeLarge {
  color: red;
}


