{
  "extends": ["plugin:react/jsx-runtime"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "react/no-unknown-property": ["error", { "ignore": ["sx"] }],
  },
}
