{
  "extends": ["plugin:react/jsx-runtime"],
  "rules": {
    "import-x/prefer-default-export": "off",
    "import-x/extensions": "off",
    "import-x/no-unresolved": "off",
    "react/no-unknown-property": ["error", { "ignore": ["sx"] }],
  },
}
