{
  "presets": ["../scripts/material-ui-babel-preset-env", "stage-1", "react"],
  "plugins": [
    "transform-object-assign"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-dev-warning",
        "transform-runtime",
        ["react-remove-properties", {"properties": ["data-mui-test"]}],
        ["transform-react-remove-prop-types", {"mode": "remove"}]
      ]
    }
  }
}
