{
  "presets": ["es2015", "stage-1", "react"],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
