#ad{margin:8px 0 0;min-height:116px}@media (min-width:600px){#ad{margin:0;min-height:0}}

#carbonads {
    padding: 8px;
    position: relative;
    box-sizing: content-box;
    border-radius: 4px;
    background-color: #fafafa
}
@media (min-width: 600px) {
    #carbonads {
        float: right;
        margin: 16px 8px 8px;
        max-width: 130px
    }
}
@media (min-width: 1920px) {
    #carbonads {
        right: 16px;
        margin: 0;
        bottom: 16px;
        position: fixed
    }
}
#carbonads img {
    vertical-align: middle
}
#carbonads a {
    text-decoration: none
}
#carbonads .carbon-wrap {
    display: flex
}
#carbonads .carbon-text {
    color: rgba(0, 0, 0, .87);
    margin: 0 0 0 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 20px
}
#carbonads .carbon-poweredby {
    color: rgba(0, 0, 0, .54);
    right: 4px;
    bottom: 4px;
    display: block;
    position: absolute;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1
}
@media (min-width: 600px) {
    #carbonads .carbon-poweredby {
        position: static;
        margin-top: 0
    }
}
@media (min-width: 600px) {
    #carbonads .carbon-text {
        margin: 8px 0
    }
}
@media (min-width: 600px) {
    #carbonads .carbon-wrap {
        display: block
    }
}
