.t1qm6cyl {
  opacity: 0;
  position: absolute;
}
.t1qm6cyl.MuiTouchRipple-rippleVisible {
  opacity: 0.3;
  transform: scale(1);
  animation-name: foo;
  animation-duration: 550ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.t1qm6cyl.MuiTouchRipple-ripplePulsate {
  animation-duration: 200ms;
}
.t1qm6cyl .MuiTouchRipple-child {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
}
.t1qm6cyl .MuiTouchRipple-childLeaving {
  opacity: 0;
  animation-name: bar;
  animation-duration: 550ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.t1qm6cyl .MuiTouchRipple-childPulsate {
  position: absolute;
  left: 0px;
  top: 0;
  animation-name: baz;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-delay: 200ms;
}
