.MuiSpeedDial-actionsClosed { color: red; }
.MuiSpeedDialAction-fabClosed { color: red; }
.MuiSpeedDialAction-staticTooltipClosed { color: red; }
.MuiSpeedDialIcon-iconWithOpenIconOpen { color: red; }
.MuiSpeedDialIcon-openIconOpen { color: red; }
