.globalHeader {
    color: #ffffff;
    border-color: #2b2b2b;
    background-color: #2b2b2b;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    top: 0;
    padding:0 15px;
}