.app-bar {
	width: 100%;
	background-color: @app-bar-color;

	.paper-container {
		padding-left: @desktop-gutter;
		padding-right: @desktop-gutter;
	}
	
	.app-bar-title {
		margin: 0;
		.font-style-headline;
		color: @app-bar-text-color;
		line-height: @desktop-keyline-increment;
	}
}