.MuiInputBase-root .MuiInputBase-inputSizeSmall {
  color: red;
}

.MuiInputBase-root .MuiInputBase-inputMultiline {
  color: red;
}

.MuiInputBase-root .MuiInputBase-inputAdornedStart {
  color: red;
}

.MuiInputBase-root .MuiInputBase-inputAdornedEnd {
  color: red;
}

.MuiInputBase-root .MuiInputBase-inputHiddenLabel {
  color: red;
}

